resources/assets/index/pages/contacts.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Контакты'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-history.jpg);")
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
block main
    section.section.p-contacts(style="background-image: url(../assets/index/images/shadow__heading-contacts.png);")
        .box
            .heading контакты
            .p-contacts__header-title Есть вопросы? Мы готовы на них ответить!
            .p-contacts__inner
                .p-contacts__item
                    .p-contacts__header позвоните нам
                    a(href='tel:+375173283294').p-contacts__link-tel +375 (17) 328-32-94
                .p-contacts__item
                    .p-contacts__header напишите нам
                    a(href="mailto:info@novacom.by").p-contacts__link-mail info@novacom.by
                .p-contacts__item
                    .p-contacts__header приходите к нам в офис
                    .p-contacts__address!= 'Офис разработки и продаж в г. Минске <br> ул. Либаво-Роменская 23, 5 этаж, пом. 10'
                    .p-contacts__address Офис разработки в г. Гомель ул. Федюнинского, 17
    .maps.js-maps#maps
    section.section.contacts-form
        .box
            .contacts-form__inner
                .grid
                    .grid__cell
                        .p-contacts__header задайте свой вопрос
                        .contacts-form__inner
                            form.def-form
                                .def-form__row
                                    .def-form__group
                                        input(type="text", placeholder='Имя').def-form__input
                                        .def-form__helper
                                    .def-form__group
                                        input(type="text", placeholder='Организация ').def-form__input
                                        .def-form__helper Введите корректный телефон
                                .def-form__row
                                    .def-form__group
                                        input(type="text", placeholder='E-mail').def-form__input
                                        .def-form__helper
                                    .def-form__group
                                        input(type="text", placeholder='Телефон').def-form__input
                                        .def-form__helper
                                .def-form__row
                                    .def-form__group.def-form__group--textarea
                                        textarea(placeholder='Ваше сообщение').def-form__textarea
                                        .def-form__helper
                                .btn-inner
                                    button(type="submit" ).btn Отправить
                    .grid__cell.contacts-form__data-cell
                        .contacts-form__data-inner
                            .p-contacts__header иные способы связи
                            .contacts-form__title Организовать видеоконференцию через Skype, Lync
                            .contacts-form__btn.btn(data-popup="popup_callback") оставить заявку
                            a(href="#").select-partners!= 'Выбрать офис-партнёра в вашей стране ГК <br> Softline 30 стран 80 городов'

    .popup#popup_callback
        .popup__box
            .popup__body
                .feedback__header
                    a(class="js-popup__close popup__close close close_big" href="#")
                        span.close-span.close-span--first
                        span.close-span.close-span--last
                    .popup__heading
                        span оставьте заявку
                    form.def-form.def-form--popup
                        .def-form__row
                            .def-form__group
                                input(type="text", placeholder='Ваше имя').def-form__input
                                .def-form__helper
                        .def-form__row
                            .def-form__group
                                input(type="text", placeholder='Ваше компания ').def-form__input
                                .def-form__helper Введите корректный телефон
                        .def-form__row
                            .def-form__group
                                input(type="text", placeholder='Ваша должность').def-form__input
                                .def-form__helper
                        .def-form__row
                            .def-form__group.def-form__group--textarea
                                textarea(placeholder='Задайте свой вопрос').def-form__textarea
                                .def-form__helper
                        .btn-inner
                            input(type='button', value="отправить").btn.popup__btn

block scripts
    script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" )

public/markup/contacts.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-history.jpg);">
        <div class="breadcrumb breadcrumb--bg-gray">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main">
        <section class="section p-contacts" style="background-image: url(../assets/index/images/shadow__heading-contacts.png);">
          <div class="box">
            <div class="heading">контакты</div>
            <div class="p-contacts__header-title">Есть вопросы? Мы готовы на них ответить!</div>
            <div class="p-contacts__inner">
              <div class="p-contacts__item">
                <div class="p-contacts__header">позвоните нам</div><a class="p-contacts__link-tel" href="tel:+375173283294">+375 (17) 328-32-94</a>
              </div>
              <div class="p-contacts__item">
                <div class="p-contacts__header">напишите нам</div><a class="p-contacts__link-mail" href="mailto:info@novacom.by">info@novacom.by</a>
              </div>
              <div class="p-contacts__item">
                <div class="p-contacts__header">приходите к нам в офис</div>
                <div class="p-contacts__address">Офис разработки и продаж в г. Минске <br> ул. Либаво-Роменская 23, 5 этаж, пом. 10</div>
                <div class="p-contacts__address">Офис разработки в г. Гомель ул. Федюнинского, 17</div>
              </div>
            </div>
          </div>
        </section>
        <div class="maps js-maps" id="maps"></div>
        <section class="section contacts-form">
          <div class="box">
            <div class="contacts-form__inner">
              <div class="grid">
                <div class="grid__cell">
                  <div class="p-contacts__header">задайте свой вопрос</div>
                  <div class="contacts-form__inner">
                    <form class="def-form">
                      <div class="def-form__row">
                        <div class="def-form__group">
                          <input class="def-form__input" type="text" placeholder="Имя">
                          <div class="def-form__helper"></div>
                        </div>
                        <div class="def-form__group">
                          <input class="def-form__input" type="text" placeholder="Организация ">
                          <div class="def-form__helper">Введите корректный телефон</div>
                        </div>
                      </div>
                      <div class="def-form__row">
                        <div class="def-form__group">
                          <input class="def-form__input" type="text" placeholder="E-mail">
                          <div class="def-form__helper"></div>
                        </div>
                        <div class="def-form__group">
                          <input class="def-form__input" type="text" placeholder="Телефон">
                          <div class="def-form__helper"></div>
                        </div>
                      </div>
                      <div class="def-form__row">
                        <div class="def-form__group def-form__group--textarea">
                          <textarea class="def-form__textarea" placeholder="Ваше сообщение"></textarea>
                          <div class="def-form__helper"></div>
                        </div>
                      </div>
                      <div class="btn-inner">
                        <button class="btn" type="submit">Отправить</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="grid__cell contacts-form__data-cell">
                  <div class="contacts-form__data-inner">
                    <div class="p-contacts__header">иные способы связи</div>
                    <div class="contacts-form__title">Организовать видеоконференцию через Skype, Lync</div>
                    <div class="contacts-form__btn btn" data-popup="popup_callback">оставить заявку</div><a class="select-partners" href="#">Выбрать офис-партнёра в вашей стране ГК <br> Softline 30 стран 80 городов</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="popup" id="popup_callback">
          <div class="popup__box">
            <div class="popup__body">
              <div class="feedback__header"><a class="js-popup__close popup__close close close_big" href="#"><span class="close-span close-span--first"></span><span class="close-span close-span--last"></span></a>
                <div class="popup__heading"><span>оставьте заявку</span></div>
                <form class="def-form def-form--popup">
                  <div class="def-form__row">
                    <div class="def-form__group">
                      <input class="def-form__input" type="text" placeholder="Ваше имя">
                      <div class="def-form__helper"></div>
                    </div>
                  </div>
                  <div class="def-form__row">
                    <div class="def-form__group">
                      <input class="def-form__input" type="text" placeholder="Ваше компания ">
                      <div class="def-form__helper">Введите корректный телефон</div>
                    </div>
                  </div>
                  <div class="def-form__row">
                    <div class="def-form__group">
                      <input class="def-form__input" type="text" placeholder="Ваша должность">
                      <div class="def-form__helper"></div>
                    </div>
                  </div>
                  <div class="def-form__row">
                    <div class="def-form__group def-form__group--textarea">
                      <textarea class="def-form__textarea" placeholder="Задайте свой вопрос"></textarea>
                      <div class="def-form__helper"></div>
                    </div>
                  </div>
                  <div class="btn-inner">
                    <input class="btn popup__btn" type="button" value="отправить">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU"></script>
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
