public/markup/history.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover history">
        <div class="breadcrumb breadcrumb--history">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner prewiews__inner--history-slide">
          <h1 class="heading heading--history">история компании</h1>
          <div class="history__inner">
            <div class="history__body">
              <div class="history__item">
                <div class="history-slide__images" style="background-image: url(../assets/index/images/bg-history.jpg);"></div>
                <div class="history-slide__data">2018-2019</div>
                <div class="history-slide__content">Основание компании Novacom  и формирование первой команды разработчиков</div>
              </div>
              <div class="history__item">
                <div class="history-slide__images" style="background-image: url(../assets/index/images/404.jpg);"></div>
                <div class="history-slide__data">2016-2017</div>
                <div class="history-slide__content">Основание компании Novacom  и формирование первой команды разработчиков</div>
              </div>
              <div class="history__item">
                <div class="history-slide__images" style="background-image: url(../assets/index/images/bg-history.jpg);"></div>
                <div class="history-slide__data">2014-2015</div>
                <div class="history-slide__content">Основание компании Novacom  и формирование первой команды разработчиков</div>
              </div>
              <div class="history__item">
                <div class="history-slide__images" style="background-image: url(../assets/index/images/bg-history.jpg);"></div>
                <div class="history-slide__data">2012-2013</div>
                <div class="history-slide__content">Основание компании Novacom  и формирование первой команды разработчиков</div>
              </div>
              <div class="history__item">
                <div class="history-slide__images" style="background-image: url(../assets/index/images/bg-history.jpg);"></div>
                <div class="history-slide__data">2010-2011</div>
                <div class="history-slide__content">Основание компании Novacom  и формирование первой команды разработчиков</div>
              </div>
              <div class="history__item">
                <div class="history-slide__images" style="background-image: url(../assets/index/images/bg-history.jpg);"></div>
                <div class="history-slide__data">2008-2009</div>
                <div class="history-slide__content">Основание компании Novacom  и формирование первой команды разработчиков</div>
              </div>
            </div>
            <div class="history__thumbs">
              <div class="thumbs__item">2018-2019</div>
              <div class="thumbs__item">2016-2017</div>
              <div class="thumbs__item">2014-2015</div>
              <div class="thumbs__item">2012-2013</div>
              <div class="thumbs__item">2010-2011</div>
              <div class="thumbs__item">2008-2009</div>
            </div>
          </div>
        </div>
      </div>
      <main class="main">
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">чем мы можем вам помочь?</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/history.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'История'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-layer.bg-cover.history
        .breadcrumb.breadcrumb--history
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner.prewiews__inner--history-slide
                h1.heading.heading--history история компании
                .history__inner
                    .history__body
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2018-2019
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/404.jpg)")
                            .history-slide__data 2016-2017
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2014-2015
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2012-2013
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2010-2011
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2008-2009
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                    .history__thumbs
                        .thumbs__item 2018-2019
                        .thumbs__item 2016-2017
                        .thumbs__item 2014-2015
                        .thumbs__item 2012-2013
                        .thumbs__item 2010-2011
                        .thumbs__item 2008-2009
block main
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
