public/markup/index.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="index-prewiews">
        <div class="index-prewiews__item">
          <div class="index-prewiews__item-inner bg-layer" style="background-image: url(../assets/index/images/index-banner1.jpg);">
            <div class="index-prewiews__inner">
              <div class="index-prewiews__header">заказная <br>  разработка <br>  информационных <br>  систем</div><a class="index-prewiews__btn btn btn--white" href="#">узнать больше</a>
            </div>
          </div>
        </div>
        <div class="index-prewiews__item">
          <div class="index-prewiews__item-inner bg-layer" style="background-image: url(../assets/index/images/index-banner2.jpg);">
            <div class="index-prewiews__inner">
              <div class="index-prewiews__header">промышленный <br> интернет вещей</div><a class="index-prewiews__btn btn btn--white" href="#"> узнать больше</a>
            </div>
          </div>
        </div>
        <div class="index-prewiews__item">
          <div class="index-prewiews__item-inner bg-layer" style="background-image: url(../assets/index/images/index-banner3.jpg);">
            <div class="index-prewiews__inner">
              <div class="index-prewiews__header">электронное <br> взаимодействие</div><a class="index-prewiews__btn btn btn--white" href="#"> узнать больше</a>
            </div>
          </div>
        </div>
        <div class="index-prewiews__item">
          <div class="index-prewiews__item-inner bg-layer" style="background-image: url(../assets/index/images/index-banner4.jpg);">
            <div class="index-prewiews__inner">
              <div class="index-prewiews__header">Электронная <br> коммерция </div><a class="index-prewiews__btn btn btn--white" href="#"> узнать больше</a>
            </div>
          </div>
        </div>
      </div>
      <main class="main">
        <section class="section g-about" style="background-image: url(../assets/index/images/shadow__heading-about.png);">
          <div class="box">
            <div class="grid">
              <div class="grid__cell">
                <div class="heading heading--g-companu">О компании</div>
                <div class="sect-title">
                  Компания «Новаком Групп» является
                  разработчиком и интегратором комплексных
                  информационных систем для решения задач
                  государства, отрасли, предприятия.
                </div>
              </div>
              <div class="grid__cell">
                <div class="sect-list">
                  <div class="sect-list__header">Мы специализируемся на:</div>
                  <ul class="sect-list__list">
                    <li class="sect-list__item"> создании высоконагруженных и распределенных информационных систем</li>
                    <li class="sect-list__item"> технологиях сбора данных от удаленных объектов (информация,параметры, количественные данные)</li>
                    <li class="sect-list__item"> оптимизации внутренних бизнес-процессов и взаимодействия, включая иерархические и территориально-распределённые структуры</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info-companu">
              <div class="info-companu__inner">
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-diplom.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header"><span class="spincrement">10</span>+ лет</div>
                  <div class="info-companu__title">создания информационных систем</div>
                </div>
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-project.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header"><span class="spincrement">200</span>+</div>
                  <div class="info-companu__title">реализованных проектов</div>
                </div>
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-person.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header"><span class="spincrement">250</span>+</div>
                  <div class="info-companu__title">сотрудников</div>
                </div>
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-support.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header"><span class="spincrement">24</span><span> / </span><span class="spincrement">7</span></div>
                  <div class="info-companu__title">техническая поддержка и сопровождение</div>
                </div>
              </div>
              <div class="btn-inner"><a class="btn info-companu__btn" href="#">узнать больше</a></div>
            </div>
          </div>
        </section>
        <div class="small-news-slider owl-carousel"><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">8 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">10 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">12 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a></div>
        <section class="section g-technologies section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-technology.png);">
          <div class="box">
            <div class="heading">Технологии</div>
            <div>
              <div class="g-technologies__inner">
                <div class="grid">
                  <div class="grid__cell">
                    <div class="g-technologies__content"> Разработка на Open Source технологиях позволяет создавать инновации и проектировать полнофункциональные системы с учетом отраслевых и деловых процессов</div>
                  </div>
                  <div class="grid__cell">
                    <div class="techn-images g-technologies__images">
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-java.png"></a></div>
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-sql.png"></a></div>
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-MYsql.png"></a></div>
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-apache.png"></a></div>
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-cassandra.png"></a></div>
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-NOsql.png"></a></div>
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-PHP.png"></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-technologies__inner">
                <div class="grid">
                  <div class="grid__cell">
                    <div class="g-technologies__content">Системная интеграция на базе решений мировых и российских производителей позволяет получить решения в соответствии с современными технологическими трендами в сжатые сроки</div>
                  </div>
                  <div class="grid__cell">
                    <div class="techn-images g-technologies__images">
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-oracle.png"></a></div>
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-ibm.png"></a></div>
                      <div class="techn-images__item"><a class="techn-images__link" href="#"><img src="../assets/index/images/ico-project-directum.png"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-inner"><a class="btn info-companu__btn" href="#">подробнее</a></div>
          </div>
        </section>
        <section class="section g-otzivi section--bg-red" style="background-image: url(../assets/index/images/shadow__heading-reviews.png);">
          <div class="box">
            <div class="heading">отзывы клиентов</div>
            <div class="g-otzivi__slider">
              <div class="slider-otziv">
                <div class="owl-carousel slider-otziv__inner">
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-inner"><a class="g-otzivi__btn" href="#">больше отзывов</a></div>
          </div>
        </section>
        <section class="section g-klients" style="background-image: url(../assets/index/images/shadow__heading-clients.png);">
          <div class="box">
            <div class="heading">наши клиенты</div>
            <div class="g-klients__slider">
              <div class="slid-clients">
                <div class="slid-clients__inner owl-carousel">
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients1.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients2.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients3.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients4.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients5.png"></div>
                </div>
              </div>
            </div>
            <div class="btn-inner"><a class="btn btn--black" href="#">Подробнее</a></div>
          </div>
        </section>
        <section class="section part-of-team bg-layer bg-cover" style="background-image: url(../assets/index/images/part-of-team.png);">
          <div class="section__inner">
            <div class="box">
              <div class="heading">Будь частью команды <span> Novacom </span></div>
              <div class="part-of-team__tittle">
                Мы рады приветствовать каждого приходящего сотрудника приятной комфортной <br>
                для работы обстановкой и дружелюбной атмосферой.
              </div>
              <ul class="part-of-team__list">
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Помогаем</div>
                  <div class="part-of-team__small-header">нашим новым сотрудникам быстро и легко освоиться на новом месте</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Уделяем внимание</div>
                  <div class="part-of-team__small-header">обучению персонала, рассматривая это как один из стратегических факторов развития компании</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Выделяем</div>
                  <div class="part-of-team__small-header">средства на хобби (спортзал, бассейн и т.д.)</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Развиваем</div>
                  <div class="part-of-team__small-header">карьеру наших сотрудников</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Весело отдыхаем</div>
                  <div class="part-of-team__small-header">на корпоративных вечеринках и спортивных состязаниях</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Предоставляем</div>
                  <div class="part-of-team__small-header">удобный график, обеденный перерыв, оборудованное рабочее место, оплачиваемый отпуск, обучение, семинары, тренинги и многое другое</div>
                </li>
              </ul>
              <div class="btn-inner"><a class="btn btn--color-white" href="#">Посмотреть вакансии</a></div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">чем мы можем вам помочь?</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="btn-inner">
                  <button class="btn help-form__btn" type="submit">Отправить</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/index.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Главная'
    - var p_img = '../assets/index/images/'


block previews
    .index-prewiews
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner1.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'заказная <br>  разработка <br>  информационных <br>  систем'
                    a(href="#").index-prewiews__btn.btn.btn--white узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner2.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'промышленный <br> интернет вещей'
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner3.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'электронное <br> взаимодействие'
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner4.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'Электронная <br> коммерция '
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше

block main
    section.section.g-about(style="background-image: url(../assets/index/images/shadow__heading-about.png);")
        .box
            .grid
                .grid__cell
                    .heading.heading--g-companu О компании
                    .sect-title.
                        Компания «Новаком Групп» является
                        разработчиком и интегратором комплексных
                        информационных систем для решения задач
                        государства, отрасли, предприятия.
                .grid__cell
                    .sect-list
                        .sect-list__header Мы специализируемся на:
                        ul.sect-list__list
                            li.sect-list__item  создании высоконагруженных и распределенных информационных систем
                            li.sect-list__item  технологиях сбора данных от удаленных объектов (информация,параметры, количественные данные)
                            li.sect-list__item  оптимизации внутренних бизнес-процессов и взаимодействия, включая иерархические и территориально-распределённые структуры
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img+"ico-diplom.png")
                        .info-companu__header <span class="spincrement">10</span>+ лет
                        .info-companu__title создания информационных систем
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-project.png")
                        .info-companu__header <span class="spincrement">200</span>+
                        .info-companu__title реализованных проектов
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-person.png")
                        .info-companu__header <span class="spincrement">250</span>+
                        .info-companu__title сотрудников
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-support.png")
                        .info-companu__header <span class="spincrement">24</span><span> / </span><span class="spincrement">7</span>
                        .info-companu__title техническая поддержка и сопровождение
                .btn-inner
                    a(href="#").btn.info-companu__btn узнать больше
    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”
    section.section.g-technologies.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-technology.png);")
        .box
            .heading Технологии
            div
                .g-technologies__inner
                    .grid
                        .grid__cell
                            .g-technologies__content  Разработка на Open Source технологиях позволяет создавать инновации и проектировать полнофункциональные системы с учетом отраслевых и деловых процессов
                        .grid__cell
                            .techn-images.g-technologies__images
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-java.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-sql.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-MYsql.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-apache.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-cassandra.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-NOsql.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-PHP.png")
                .g-technologies__inner
                    .grid
                        .grid__cell
                            .g-technologies__content Системная интеграция на базе решений мировых и российских производителей позволяет получить решения в соответствии с современными технологическими трендами в сжатые сроки
                        .grid__cell
                            .techn-images.g-technologies__images
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-oracle.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-ibm.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-directum.png")
            .btn-inner
                a(href="#").btn.info-companu__btn подробнее
    section.section.g-otzivi.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reviews.png);")
        .box
            .heading отзывы клиентов
            .g-otzivi__slider
                .slider-otziv
                    .owl-carousel.slider-otziv__inner
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь
                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект
                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
            .btn-inner
                a(href="#").g-otzivi__btn больше отзывов
    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
            .btn-inner
                a(href="#").btn.btn--black Подробнее
    section.section.part-of-team.bg-layer.bg-cover(style="background-image: url(../assets/index/images/part-of-team.png)")
        .section__inner
            .box
                .heading!= 'Будь частью команды <span> Novacom </span>'
                .part-of-team__tittle.
                    Мы рады приветствовать каждого приходящего сотрудника приятной комфортной <br>
                    для работы обстановкой и дружелюбной атмосферой.
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Помогаем
                        .part-of-team__small-header нашим новым сотрудникам быстро и легко освоиться на новом месте
                    li.part-of-team__item
                        .part-of-team__header Уделяем внимание
                        .part-of-team__small-header обучению персонала, рассматривая это как один из стратегических факторов развития компании
                    li.part-of-team__item
                        .part-of-team__header Выделяем
                        .part-of-team__small-header средства на хобби (спортзал, бассейн и т.д.)
                    li.part-of-team__item
                        .part-of-team__header Развиваем
                        .part-of-team__small-header карьеру наших сотрудников
                    li.part-of-team__item
                        .part-of-team__header Весело отдыхаем
                        .part-of-team__small-header на корпоративных вечеринках и спортивных состязаниях
                    li.part-of-team__item
                        .part-of-team__header Предоставляем
                        .part-of-team__small-header удобный график, обеденный перерыв, оборудованное рабочее место, оплачиваемый отпуск, обучение, семинары, тренинги и многое другое
                .btn-inner
                    a(href="#").btn.btn--color-white Посмотреть вакансии
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
                    .btn-inner
                      button(type="submit" ).btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
