resources/assets/index/pages/lidership.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Руководство'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
block main
    section.section.lidership(style="background-image: url(../assets/index/images/shadow__heading-lidership.png);")
        .box
            .heading руководство
            .lidership__title!= 'Компания Novacom всегда стремится к созданию прозрачных партнерских отношений со своими клиентами. <br> Аутсорсинг программного обеспечения для нас – это не только эффективная командная работа, но также ииндивидуальный подход для достижения целей клиента. Ниже представлена информация о руководстве компании Novacom.'
            .lidership__inner
                .lidership__item
                    .lidership__avatar
                        img(src="../assets/index/images/lidership-avatar1.jpg")
                    .lidership__data
                        .lidership__header ПАВЕЛ ХОВРЕНКОВ
                        .lidership__position директор Novacom
                        .lidership__content!= 'В 2000 году Антон Дечко окончил Минский государственный лингвистический университет, факультет межкультруных коммуникаций. Помимо этого, в 2007 году он стал выпускником двухгодичной программы «Магистр бизнес-администрирования» Белорусского государственного университета. <br> В 2000 году Антон Дечко начинает свою карьеру в отделе маркетинга SaM Solutions в Минске     и уже через некоторое время становится руководителем отдела, а позже – директором по развитию бизнеса в Минске. В 2007 году Антон Дечко переезжает в штаб-квартиру SaM Solutions   в Германии, где в качестве директора и члена совета директоров, руководит процессом продаж и взаимодействия с клиентами в Европе. '
                .lidership__item
                    .lidership__avatar
                        img(src="../assets/index/images/lidership-avatar2.jpg")
                    .lidership__data
                        .lidership__header КОНСТАНТИН ПАШКЕВИЧ
                        .lidership__position заместитель директора Novacom
                        .lidership__content.
                            Константин Пашкевич имеет более 15 лет опыта работы в сфере финансового менеджмента.
                            До прихода в компанию на должность CFO в течение 12 лет работал финансовым директором и
                            заместителем генерального директора минского подразделения исследований и разработок
                            американской компании VPIsystems. До этого занимал должности финансового менеджера
                            в других компаниях ИT-отрасли. В настоящее время также является членом совета директоров
                            группы компаний SaM Solutions. Константин Пашкевич является выпускником факультета
                            радиотехники и электроники Белорусского государственного университета информатики и
                            радиоэлектроники. В этом же университете окончил несколько курсов повышения квалификации
                            по специальности промышленного менеджмента. Константин Пашкевич также прошел обучение
                            стандартам международного бухгалтерского учета и финансовой отчетности (МСБУ/МСФО)
                            в Международной школе бизнеса (Москва) и Академии бизнеса Ernst & Young (Минск).
                .lidership__item
                    .lidership__avatar
                        img(src="../assets/index/images/lidership-avatar1.jpg")
                    .lidership__data
                        .lidership__header ПАВЕЛ ХОВРЕНКОВ
                        .lidership__position директор Novacom
                        .lidership__content!= 'В 2000 году Антон Дечко окончил Минский государственный лингвистический университет, факультет межкультруных коммуникаций. Помимо этого, в 2007 году он стал выпускником двухгодичной программы «Магистр бизнес-администрирования» Белорусского государственного университета. <br> В 2000 году Антон Дечко начинает свою карьеру в отделе маркетинга SaM Solutions в Минске     и уже через некоторое время становится руководителем отдела, а позже – директором по развитию бизнеса в Минске. В 2007 году Антон Дечко переезжает в штаб-квартиру SaM Solutions   в Германии, где в качестве директора и члена совета директоров, руководит процессом продаж и взаимодействия с клиентами в Европе. '
                .lidership__item
                    .lidership__avatar
                        img(src="../assets/index/images/lidership-avatar2.jpg")
                    .lidership__data
                        .lidership__header КОНСТАНТИН ПАШКЕВИЧ
                        .lidership__position заместитель директора Novacom
                        .lidership__content.
                            Константин Пашкевич имеет более 15 лет опыта работы в сфере финансового менеджмента.
                            До прихода в компанию на должность CFO в течение 12 лет работал финансовым директором и
                            заместителем генерального директора минского подразделения исследований и разработок
                            американской компании VPIsystems. До этого занимал должности финансового менеджера
                            в других компаниях ИT-отрасли. В настоящее время также является членом совета директоров
                            группы компаний SaM Solutions. Константин Пашкевич является выпускником факультета
                            радиотехники и электроники Белорусского государственного университета информатики и
                            радиоэлектроники. В этом же университете окончил несколько курсов повышения квалификации
                            по специальности промышленного менеджмента. Константин Пашкевич также прошел обучение
                            стандартам международного бухгалтерского учета и финансовой отчетности (МСБУ/МСФО)
                            в Международной школе бизнеса (Москва) и Академии бизнеса Ernst & Young (Минск).


    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

public/markup/lidership.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Руководство</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews">
        <div class="breadcrumb breadcrumb--bg-gray">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main">
        <section class="section lidership" style="background-image: url(../assets/index/images/shadow__heading-lidership.png);">
          <div class="box">
            <div class="heading">руководство</div>
            <div class="lidership__title">Компания Novacom всегда стремится к созданию прозрачных партнерских отношений со своими клиентами. <br> Аутсорсинг программного обеспечения для нас – это не только эффективная командная работа, но также ииндивидуальный подход для достижения целей клиента. Ниже представлена информация о руководстве компании Novacom.</div>
            <div class="lidership__inner">
              <div class="lidership__item">
                <div class="lidership__avatar"><img src="../assets/index/images/lidership-avatar1.jpg"></div>
                <div class="lidership__data">
                  <div class="lidership__header">ПАВЕЛ ХОВРЕНКОВ</div>
                  <div class="lidership__position">директор Novacom</div>
                  <div class="lidership__content">В 2000 году Антон Дечко окончил Минский государственный лингвистический университет, факультет межкультруных коммуникаций. Помимо этого, в 2007 году он стал выпускником двухгодичной программы «Магистр бизнес-администрирования» Белорусского государственного университета. <br> В 2000 году Антон Дечко начинает свою карьеру в отделе маркетинга SaM Solutions в Минске     и уже через некоторое время становится руководителем отдела, а позже – директором по развитию бизнеса в Минске. В 2007 году Антон Дечко переезжает в штаб-квартиру SaM Solutions   в Германии, где в качестве директора и члена совета директоров, руководит процессом продаж и взаимодействия с клиентами в Европе. </div>
                </div>
              </div>
              <div class="lidership__item">
                <div class="lidership__avatar"><img src="../assets/index/images/lidership-avatar2.jpg"></div>
                <div class="lidership__data">
                  <div class="lidership__header">КОНСТАНТИН ПАШКЕВИЧ</div>
                  <div class="lidership__position">заместитель директора Novacom</div>
                  <div class="lidership__content">
                    Константин Пашкевич имеет более 15 лет опыта работы в сфере финансового менеджмента.
                    До прихода в компанию на должность CFO в течение 12 лет работал финансовым директором и
                    заместителем генерального директора минского подразделения исследований и разработок
                    американской компании VPIsystems. До этого занимал должности финансового менеджера
                    в других компаниях ИT-отрасли. В настоящее время также является членом совета директоров
                    группы компаний SaM Solutions. Константин Пашкевич является выпускником факультета
                    радиотехники и электроники Белорусского государственного университета информатики и
                    радиоэлектроники. В этом же университете окончил несколько курсов повышения квалификации
                    по специальности промышленного менеджмента. Константин Пашкевич также прошел обучение
                    стандартам международного бухгалтерского учета и финансовой отчетности (МСБУ/МСФО)
                    в Международной школе бизнеса (Москва) и Академии бизнеса Ernst & Young (Минск).
                  </div>
                </div>
              </div>
              <div class="lidership__item">
                <div class="lidership__avatar"><img src="../assets/index/images/lidership-avatar1.jpg"></div>
                <div class="lidership__data">
                  <div class="lidership__header">ПАВЕЛ ХОВРЕНКОВ</div>
                  <div class="lidership__position">директор Novacom</div>
                  <div class="lidership__content">В 2000 году Антон Дечко окончил Минский государственный лингвистический университет, факультет межкультруных коммуникаций. Помимо этого, в 2007 году он стал выпускником двухгодичной программы «Магистр бизнес-администрирования» Белорусского государственного университета. <br> В 2000 году Антон Дечко начинает свою карьеру в отделе маркетинга SaM Solutions в Минске     и уже через некоторое время становится руководителем отдела, а позже – директором по развитию бизнеса в Минске. В 2007 году Антон Дечко переезжает в штаб-квартиру SaM Solutions   в Германии, где в качестве директора и члена совета директоров, руководит процессом продаж и взаимодействия с клиентами в Европе. </div>
                </div>
              </div>
              <div class="lidership__item">
                <div class="lidership__avatar"><img src="../assets/index/images/lidership-avatar2.jpg"></div>
                <div class="lidership__data">
                  <div class="lidership__header">КОНСТАНТИН ПАШКЕВИЧ</div>
                  <div class="lidership__position">заместитель директора Novacom</div>
                  <div class="lidership__content">
                    Константин Пашкевич имеет более 15 лет опыта работы в сфере финансового менеджмента.
                    До прихода в компанию на должность CFO в течение 12 лет работал финансовым директором и
                    заместителем генерального директора минского подразделения исследований и разработок
                    американской компании VPIsystems. До этого занимал должности финансового менеджера
                    в других компаниях ИT-отрасли. В настоящее время также является членом совета директоров
                    группы компаний SaM Solutions. Константин Пашкевич является выпускником факультета
                    радиотехники и электроники Белорусского государственного университета информатики и
                    радиоэлектроники. В этом же университете окончил несколько курсов повышения квалификации
                    по специальности промышленного менеджмента. Константин Пашкевич также прошел обучение
                    стандартам международного бухгалтерского учета и финансовой отчетности (МСБУ/МСФО)
                    в Международной школе бизнеса (Москва) и Академии бизнеса Ernst & Young (Минск).
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">чем мы можем вам помочь?</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
