resources/assets/index/pages/links.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Ссылки'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Работа

block main
    section.section
        .box
            .heading Шаблонная страница
            ul.templates
                li.templates__item
                    a(href="index.html", target="_black").templates__links Главная
                li.templates__item
                    a(href="contacts.html", target="_black").templates__links Контакты
                li.templates__item
                    a(href="history.html", target="_black").templates__links История компании
                li.templates__item
                    a(href="lidership.html", target="_black").templates__links Руководство
                li.templates__item
                    a(href="news.html", target="_black").templates__links Новости
                li.templates__item
                    a(href="news-page.html", target="_black").templates__links Полная новость
                li.templates__item
                    a(href="open-vacancy.html", target="_black").templates__links описание вакансии
                li.templates__item
                    a(href="resume.html", target="_black").templates__links резюме
                li.templates__item
                    a(href="work.html", target="_black").templates__links Работа в novacom
                li.templates__item
                    a(href="vacancy.html", target="_black").templates__links Вакансии
                li.templates__item
                    a(href="project.html", target="_black").templates__links Проекты
                li.templates__item
                    a(href="project-filtr.html", target="_black").templates__links Проекты (фильтры)
                li.templates__item
                    a(href="project-solutions.html", target="_black").templates__links Проекты (решения)
                li.templates__item
                    a(href="about.html", target="_black").templates__links О компании
                li.templates__item
                    a(href="solutions.html", target="_black").templates__links Решения (solution)
                li.templates__item
                    a(href="solutions1.html", target="_black").templates__links Решения (solution1)
                li.templates__item
                    a(href="solutions1-1.html" , target="_black").templates__links Решения (solution1-1)
                li.templates__item
                    a(href="solutions2.html" , target="_black").templates__links Решения (solution2)
                li.templates__item
                    a(href="solutions2-1.html" , target="_black").templates__links Решения (solution2-1)
                li.templates__item
                    a(href="solutions3.html", target="_black").templates__links Решения (solution3)
                li.templates__item
                    a(href="solutions3-1.html" , target="_black").templates__links Решения (solution3-1)
                li.templates__item
                    a(href="solutions4.html" , target="_black").templates__links Решения (solution4)
                li.templates__item
                    a(href="solutions4-1.html" , target="_black").templates__links Решения (solution4-1)
block scripts

public/markup/links.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ссылки</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews">
        <div class="breadcrumb breadcrumb--bg-gray">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Работа</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main">
        <section class="section">
          <div class="box">
            <div class="heading">Шаблонная страница</div>
            <ul class="templates">
              <li class="templates__item"><a class="templates__links" href="index.html" target="_black">Главная</a></li>
              <li class="templates__item"><a class="templates__links" href="contacts.html" target="_black">Контакты</a></li>
              <li class="templates__item"><a class="templates__links" href="history.html" target="_black">История компании</a></li>
              <li class="templates__item"><a class="templates__links" href="lidership.html" target="_black">Руководство</a></li>
              <li class="templates__item"><a class="templates__links" href="news.html" target="_black">Новости</a></li>
              <li class="templates__item"><a class="templates__links" href="news-page.html" target="_black">Полная новость</a></li>
              <li class="templates__item"><a class="templates__links" href="open-vacancy.html" target="_black">описание вакансии</a></li>
              <li class="templates__item"><a class="templates__links" href="resume.html" target="_black">резюме</a></li>
              <li class="templates__item"><a class="templates__links" href="work.html" target="_black">Работа в novacom</a></li>
              <li class="templates__item"><a class="templates__links" href="vacancy.html" target="_black">Вакансии</a></li>
              <li class="templates__item"><a class="templates__links" href="project.html" target="_black">Проекты</a></li>
              <li class="templates__item"><a class="templates__links" href="project-filtr.html" target="_black">Проекты (фильтры)</a></li>
              <li class="templates__item"><a class="templates__links" href="project-solutions.html" target="_black">Проекты (решения)</a></li>
              <li class="templates__item"><a class="templates__links" href="about.html" target="_black">О компании</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions.html" target="_black">Решения (solution)</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions1.html" target="_black">Решения (solution1)</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions1-1.html" target="_black">Решения (solution1-1)</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions2.html" target="_black">Решения (solution2)</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions2-1.html" target="_black">Решения (solution2-1)</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions3.html" target="_black">Решения (solution3)</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions3-1.html" target="_black">Решения (solution3-1)</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions4.html" target="_black">Решения (solution4)</a></li>
              <li class="templates__item"><a class="templates__links" href="solutions4-1.html" target="_black">Решения (solution4-1)</a></li>
            </ul>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
