resources/assets/index/pages/news.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Вкансия'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Работа
block main
    section.section.p-news(style="background-image: url(../assets/index/images/shadow__heading-news.png);")
        .box
            .heading Новости
            .grid
                .grid__cell
                    .news-card
                        .news-card__date
                            .news-card__date-inner
                                div 08.06
                                div 2017
                        a(href="#").news-card__images
                            img(src="../assets/index/images/news-item-bg.jpg")
                        .news-card__data
                            a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                            .news-card__content.
                                26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                                избран Былина Вячеслав Анатольевич, директор компании Novacom.
                                Совет Ассоциации является высшим органом управления Научно-
                                технологической ассоциации «Инфопарк».
                            a(href="#").btn.btn--black.news-card__btn читать полностью
                .grid__cell
                    .news-card
                        .news-card__date
                            .news-card__date-inner
                                div 08.06
                                div 2017
                        a(href="#").news-card__images
                            img(src="../assets/index/images/news-item-bg.jpg")
                        .news-card__data
                            a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                            .news-card__content.
                                26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                                избран Былина Вячеслав Анатольевич, директор компании Novacom.
                            a(href="#").btn.btn--black.news-card__btn читать полностью
                .grid__cell
                    .news-card
                        .news-card__date
                            .news-card__date-inner
                                div 08.06
                                div 2017
                        a(href="#").news-card__images
                            img(src="../assets/index/images/news-item-bg.jpg")
                        .news-card__data
                            a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                            .news-card__content.
                                26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                                избран Былина Вячеслав Анатольевич, директор компании Novacom.
                            a(href="#").btn.btn--black.news-card__btn читать полностью
                .grid__cell
                    .news-card
                        .news-card__date
                            .news-card__date-inner
                                div 08.06
                                div 2017
                        a(href="#").news-card__images
                            img(src="../assets/index/images/news-item-bg.jpg")
                        .news-card__data
                            a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                            .news-card__content.
                                26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                                избран Былина Вячеслав Анатольевич, директор компании Novacom.
                                Совет Ассоциации является высшим органом управления Научно-
                                технологической ассоциации «Инфопарк».
                            a(href="#").btn.btn--black.news-card__btn читать полностью
            .btn-inner
                a(href="#").btn.btn--red Больше новостей
    section.section.contact-face.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-contact-face.png);")
        .box
            .heading Котактное лицо
            .contact-face__info-inner
                .contact-face__images
                    img(src="../assets/index/images/otziv_personal1.jpg")
                .contact-face__info
                    .contact-face__name Ольга якута
                    a(href="tel:+375172589698").contact-face__link.contact-face__link--home-tel +375 (17) 258-96-98
                    a(href="tel:+375 (29) 258-97-47").contact-face__link.contact-face__link--tel +375 (29) 258-97-47
                    a(href="mailto:V.Yakuta@novacom.by").contact-face__link.contact-face__link--mail V.Yakuta@novacom.by


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

public/markup/news.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вкансия</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews">
        <div class="breadcrumb breadcrumb--bg-gray">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Работа</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main">
        <section class="section p-news" style="background-image: url(../assets/index/images/shadow__heading-news.png);">
          <div class="box">
            <div class="heading">Новости</div>
            <div class="grid">
              <div class="grid__cell">
                <div class="news-card">
                  <div class="news-card__date">
                    <div class="news-card__date-inner">
                      <div>08.06</div>
                      <div>2017</div>
                    </div>
                  </div><a class="news-card__images" href="#"><img src="../assets/index/images/news-item-bg.jpg"></a>
                  <div class="news-card__data"><a class="news-card__header" href="#">Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»</a>
                    <div class="news-card__content">
                      26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                      избран Былина Вячеслав Анатольевич, директор компании Novacom.
                      Совет Ассоциации является высшим органом управления Научно-
                      технологической ассоциации «Инфопарк».
                    </div><a class="btn btn--black news-card__btn" href="#">читать полностью</a>
                  </div>
                </div>
              </div>
              <div class="grid__cell">
                <div class="news-card">
                  <div class="news-card__date">
                    <div class="news-card__date-inner">
                      <div>08.06</div>
                      <div>2017</div>
                    </div>
                  </div><a class="news-card__images" href="#"><img src="../assets/index/images/news-item-bg.jpg"></a>
                  <div class="news-card__data"><a class="news-card__header" href="#">Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»</a>
                    <div class="news-card__content">
                      26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                      избран Былина Вячеслав Анатольевич, директор компании Novacom.
                    </div><a class="btn btn--black news-card__btn" href="#">читать полностью</a>
                  </div>
                </div>
              </div>
              <div class="grid__cell">
                <div class="news-card">
                  <div class="news-card__date">
                    <div class="news-card__date-inner">
                      <div>08.06</div>
                      <div>2017</div>
                    </div>
                  </div><a class="news-card__images" href="#"><img src="../assets/index/images/news-item-bg.jpg"></a>
                  <div class="news-card__data"><a class="news-card__header" href="#">Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»</a>
                    <div class="news-card__content">
                      26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                      избран Былина Вячеслав Анатольевич, директор компании Novacom.
                    </div><a class="btn btn--black news-card__btn" href="#">читать полностью</a>
                  </div>
                </div>
              </div>
              <div class="grid__cell">
                <div class="news-card">
                  <div class="news-card__date">
                    <div class="news-card__date-inner">
                      <div>08.06</div>
                      <div>2017</div>
                    </div>
                  </div><a class="news-card__images" href="#"><img src="../assets/index/images/news-item-bg.jpg"></a>
                  <div class="news-card__data"><a class="news-card__header" href="#">Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»</a>
                    <div class="news-card__content">
                      26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                      избран Былина Вячеслав Анатольевич, директор компании Novacom.
                      Совет Ассоциации является высшим органом управления Научно-
                      технологической ассоциации «Инфопарк».
                    </div><a class="btn btn--black news-card__btn" href="#">читать полностью</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-inner"><a class="btn btn--red" href="#">Больше новостей</a></div>
          </div>
        </section>
        <section class="section contact-face section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-contact-face.png);">
          <div class="box">
            <div class="heading">Котактное лицо</div>
            <div class="contact-face__info-inner">
              <div class="contact-face__images"><img src="../assets/index/images/otziv_personal1.jpg"></div>
              <div class="contact-face__info">
                <div class="contact-face__name">Ольга якута</div><a class="contact-face__link contact-face__link--home-tel" href="tel:+375172589698">+375 (17) 258-96-98</a><a class="contact-face__link contact-face__link--tel" href="tel:+375 (29) 258-97-47">+375 (29) 258-97-47</a><a class="contact-face__link contact-face__link--mail" href="mailto:V.Yakuta@novacom.by">V.Yakuta@novacom.by</a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
