resources/assets/index/pages/news-page.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Вкансия'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-cover.prewiews--content.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-full-news.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Работа
        .prewiews__inner
            h1.heading «Новаком» автоматизировала документооборот <br> в МАГЭ в Мурманске
            .prewiews__date!= '08 июня 2016'
            .prewiews__content.
                Компания «Новаком», входящая в ГК Softline, реализовала пилотный проект по автоматизации
                документооборота и системы управления взаимодействием сотрудников в головном офисе
                Морской арктической геологоразведочной экспедиции в Мурманске. Данный проект, ставший
                продолжением сотрудничества организации и ГК Softline в области внедрения СЭД, позволил
                оптимизировать процесс обработки документов и повысить его эффективность.
block main
    .full-news
        .box
            .grid
                .grid__cell
                    .content.content--padding-right
                        p!= '<strong>ОАО «Морская арктическая геологоразведочная экспедиция» (МАГЭ)</strong> – компания, которая с 1972 года ведет научно-исследовательскую деятельность и предоставляет широкий спектр геолого-геофизических услуг  по изучению строения шельфовых морей, транзитных и прибрежных зон Арктики и Мирового океана. В компании  трудится более 500 человек.'
                        p!= 'Специфика деятельности МАГЭ подразумевает большой объем бумажной работы, регулярную подготовку      многочисленных документов и сложные многоступенчатые циклы их согласования. В сфере документооборота задействовано более половины сотрудников. Ранее руководство компании приняло решение о внедрении системы                 электронного документооборота в московском филиале МАГЭ. Технологической основой решения стало программное  обеспечение Directum. Данный проект в 2014 г. успешно выполнили эксперты компаний «Новаком» и Develonica,            имеющие обширный опыт реализации информационных систем различного уровня сложности.'
                        p!= 'В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.'
                        p!= 'В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.'
                        p!= 'В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.'
                        p!= 'В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.'
                        blockquote!= 'Внедрение системы Directum позволило организовать оперативное взаимодействие в области обмена документами между Московским и Мурманским представительствами МАГЭ, упростить и унифицировать текущие бизнес-процессы организации. Партнеры из «Новаком» оперативно и качественно внедрили решение и оказали нам помощь в освоении новой системы <span>рассказал Алексей Голубаев, начальник Управления вычислительных  и информационных систем, МАГЭ Москва</span>'
                .grid__cell
                    .banners
                        .banners__header Последние новости
                        .news-card.news-card--baner
                            .news-card__date
                                .news-card__date-inner
                                    div 08.06
                                    div 2017
                            a(href="#").news-card__images
                                img(src="../assets/index/images/news-item-bg.jpg")
                            .news-card__data
                                a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                                a(href="#").btn.btn--black.news-card__btn читать полностью
                        .news-card.news-card--baner
                            .news-card__date
                                .news-card__date-inner
                                    div 08.06
                                    div 2017
                            a(href="#").news-card__images
                                img(src="../assets/index/images/news-item-bg.jpg")
                            .news-card__data
                                a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                                a(href="#").btn.btn--black.news-card__btn читать полностью
    .info-content
        .box
            .info-content__header Справочная информация:
            .info-content__text!= '<b> Компания «Новаком» (Novacom)  </b>– ведущий интегратор, поставщик и разработчик информационных систем. Портфолио компании содержит большое количество реализованных проектов по заказной разработке и внедрению информационных систем с использованием различных платформ и технологий. C 2012 года Novacom входит в группу компаний Softline.'


    section.section.contact-face.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-press.png);")
        .box
            .heading пресс-служба
            .contact-face__info-inner
                .contact-face__images
                    img(src="../assets/index/images/otziv_personal1.jpg")
                .contact-face__info
                    .contact-face__name Ольга якута
                        .contact-face__position Специалист по маркетингу
                    a(href="tel:+375173283294").contact-face__link.contact-face__link--home-tel +375 (17) 328-32-94
                    a(href="mailto:V.Yakuta@novacom.by").contact-face__link.contact-face__link--mail V.Yakuta@novacom.by


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

public/markup/news-page.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вкансия</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-cover prewiews--content bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-full-news.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Работа</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">«Новаком» автоматизировала документооборот <br> в МАГЭ в Мурманске</h1>
          <div class="prewiews__date">08 июня 2016</div>
          <div class="prewiews__content">
            Компания «Новаком», входящая в ГК Softline, реализовала пилотный проект по автоматизации
            документооборота и системы управления взаимодействием сотрудников в головном офисе
            Морской арктической геологоразведочной экспедиции в Мурманске. Данный проект, ставший
            продолжением сотрудничества организации и ГК Softline в области внедрения СЭД, позволил
            оптимизировать процесс обработки документов и повысить его эффективность.
          </div>
        </div>
      </div>
      <main class="main">
        <div class="full-news">
          <div class="box">
            <div class="grid">
              <div class="grid__cell">
                <div class="content content--padding-right">
                  <p><strong>ОАО «Морская арктическая геологоразведочная экспедиция» (МАГЭ)</strong> – компания, которая с 1972 года ведет научно-исследовательскую деятельность и предоставляет широкий спектр геолого-геофизических услуг  по изучению строения шельфовых морей, транзитных и прибрежных зон Арктики и Мирового океана. В компании  трудится более 500 человек.</p>
                  <p>Специфика деятельности МАГЭ подразумевает большой объем бумажной работы, регулярную подготовку      многочисленных документов и сложные многоступенчатые циклы их согласования. В сфере документооборота задействовано более половины сотрудников. Ранее руководство компании приняло решение о внедрении системы                 электронного документооборота в московском филиале МАГЭ. Технологической основой решения стало программное  обеспечение Directum. Данный проект в 2014 г. успешно выполнили эксперты компаний «Новаком» и Develonica,            имеющие обширный опыт реализации информационных систем различного уровня сложности.</p>
                  <p>В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.</p>
                  <p>В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.</p>
                  <p>В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.</p>
                  <p>В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.</p>
                  <blockquote>Внедрение системы Directum позволило организовать оперативное взаимодействие в области обмена документами между Московским и Мурманским представительствами МАГЭ, упростить и унифицировать текущие бизнес-процессы организации. Партнеры из «Новаком» оперативно и качественно внедрили решение и оказали нам помощь в освоении новой системы <span>рассказал Алексей Голубаев, начальник Управления вычислительных  и информационных систем, МАГЭ Москва</span></blockquote>
                </div>
              </div>
              <div class="grid__cell">
                <div class="banners">
                  <div class="banners__header">Последние новости</div>
                  <div class="news-card news-card--baner">
                    <div class="news-card__date">
                      <div class="news-card__date-inner">
                        <div>08.06</div>
                        <div>2017</div>
                      </div>
                    </div><a class="news-card__images" href="#"><img src="../assets/index/images/news-item-bg.jpg"></a>
                    <div class="news-card__data"><a class="news-card__header" href="#">Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»</a><a class="btn btn--black news-card__btn" href="#">читать полностью</a></div>
                  </div>
                  <div class="news-card news-card--baner">
                    <div class="news-card__date">
                      <div class="news-card__date-inner">
                        <div>08.06</div>
                        <div>2017</div>
                      </div>
                    </div><a class="news-card__images" href="#"><img src="../assets/index/images/news-item-bg.jpg"></a>
                    <div class="news-card__data"><a class="news-card__header" href="#">Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»</a><a class="btn btn--black news-card__btn" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-content">
          <div class="box">
            <div class="info-content__header">Справочная информация:</div>
            <div class="info-content__text"><b> Компания «Новаком» (Novacom)  </b>– ведущий интегратор, поставщик и разработчик информационных систем. Портфолио компании содержит большое количество реализованных проектов по заказной разработке и внедрению информационных систем с использованием различных платформ и технологий. C 2012 года Novacom входит в группу компаний Softline.</div>
          </div>
        </div>
        <section class="section contact-face section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-press.png);">
          <div class="box">
            <div class="heading">пресс-служба</div>
            <div class="contact-face__info-inner">
              <div class="contact-face__images"><img src="../assets/index/images/otziv_personal1.jpg"></div>
              <div class="contact-face__info">
                <div class="contact-face__name">Ольга якута
                  <div class="contact-face__position">Специалист по маркетингу</div>
                </div><a class="contact-face__link contact-face__link--home-tel" href="tel:+375173283294">+375 (17) 328-32-94</a><a class="contact-face__link contact-face__link--mail" href="mailto:V.Yakuta@novacom.by">V.Yakuta@novacom.by</a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
