resources/assets/index/pages/open-vacancy.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Вкансия'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-layer.bg-cover.prewiews--open-vacancy(style="background-image: url(../assets/index/images/bg-p-open-vacancy.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading инженер-проектировщик
            .prewiews__content
                    span Добрый день, Уважаемый соискатель!
                    span «Мы делаем отличный продукт и активно используем в нашей работе the best minds. У нас замечательная команда, и в качестве ее расширения мы ищем уникального человека, который бы распространял идеологию Новаком среди всех наших партнеров, пусть даже и против их воли».'

block main
    section.section.def-list
        .section__inner
            .box
                .def-list__header Вы будете заниматься:
                ul.def-list__list
                    li.def-list__item Разработкой новых и усовершенствованием существующих устройств на базе ARM-микроконтроллеров;
                    li.def-list__item Разработкой структуры, архитектуры и схемотехники электронных устройств;
                    li.def-list__item Трассировкой печатных плат электронных устройств;
                    li.def-list__item Отладкой прототипов электронных устройств;
                    li.def-list__item Разработкой ПО для ARM-микроконтроллеров;
                    li.def-list__item Оформлением конструкторской документации (в соответствии с ЕСКД).
    section.section.demands-list.section--bg-red
        .section__inner
            .box
                .demands-list__header У Вас есть:
                .demands-list__small-header Высшее техническое образование;
                .content.content--demands-list
                    .grid
                        .grid__cell
                            p!= 'Знания:'
                            ul
                                li Технического английского языка;
                                li Цифровой и аналоговой схемотехники, современной элементной базы,архитектуры построения устройств на базе микроконтроллеров;
                                li Трассировки печатных плат устройств с высокоскоростными интерфейсами;
                                li Разработки ПО для ARM-микроконтроллеров на языке программирования С, устройств с использованием беспроводных интерфейсов (Wi-Fi, Bluetooth, GSM);
                            p Опыт работы:
                                ul
                                    li С периферией ARM-микроконтроллеров производства Atmel, STMicroelectronics
                        .grid__cell

                            p Опыт разработки:
                            ul
                                li Устройств с Ethernet-интерфейсом (lwIP стек), ПО на языке  программирования С++ для ARM-микроконтроллеров под управлением RTOS, КД
                            p Навыки работы с:
                            ul
                                li САПР Altium Designer, AutoCAD;
                                li IDE Keil uVision;
                                li САD Kompas-3D;
                                li IDE IAR, Atmel Studio
                //.demands-list__inner
                //    .demands-list__name-list Знания:
                //        ul.demands-list__list
                //            li.demands-list__item Технического английского языка;
                //            li.demands-list__item Цифровой и аналоговой схемотехники, современной элементной базы,архитектуры построения устройств на базе микроконтроллеров;
                //            li.demands-list__item Трассировки печатных плат устройств с высокоскоростными интерфейсами;
                //            li.demands-list__item Разработки ПО для ARM-микроконтроллеров на языке программирования С, устройств с использованием беспроводных интерфейсов (Wi-Fi, Bluetooth, GSM);
                //    .demands-list__name-list Опыт работы:
                //        ul.demands-list__list
                //            li.demands-list__item С периферией ARM-микроконтроллеров производства Atmel, STMicroelectronics
                //    .demands-list__name-list Опыт разработки:
                //        ul.demands-list__list
                //            li.demands-list__item Устройств с Ethernet-интерфейсом (lwIP стек), ПО на языке  программирования С++ для ARM-микроконтроллеров под управлением RTOS, КД
                //    .demands-list__name-list Навыки работы с:
                //        ul.demands-list__list
                //            li.demands-list__item САПР Altium Designer, AutoCAD;
                //            li.demands-list__item IDE Keil uVision;
                //            li.demands-list__item САD Kompas-3D;
                //            li.demands-list__item IDE IAR, Atmel Studio
    section.section.def-list
        .section__inner
            .box
                .def-list__header Мы предложим Вам:
                ul.def-list__list
                    li.def-list__item Отличное настроение, даже по понедельникам;
                    li.def-list__item Стать частью дружного коллектива;
                    li.def-list__item Испытать на себе продуманную систему прокачки и карьерного роста;
                    li.def-list__item Обучение Путям Силы под руководством опытных Рыцарей-Джедаев;
                    li.def-list__item Завладеть горшочком с золотом (по результатам собеседования);
                    li.def-list__item Получить ключ от полностью оборудованного Убежища в центре города;
                    li.def-list__item Навсегда изменить жизнь сотен тысяч людей во всем мире.
    section.section.contact-face.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-contact-face.png);")
        .box
            .heading Котактное лицо
            .contact-face__info-inner
                .contact-face__images
                    img(src="../assets/index/images/otziv_personal1.jpg")
                .contact-face__info
                    .contact-face__name Ольга якута
                    a(href="tel:+375172589698").contact-face__link.contact-face__link--home-tel +375 (17) 258-96-98
                    a(href="tel:+375 (29) 258-97-47").contact-face__link.contact-face__link--tel +375 (29) 258-97-47
                    a(href="mailto:V.Yakuta@novacom.by").contact-face__link.contact-face__link--mail V.Yakuta@novacom.by
                .contact-face__btn-inner
                    a(href="#").btn.contact-face__btn  откликнуться на вакансию
                    a(href="#").btn.btn--green.contact-face__btn  Apply with LinkedIn
    section.section.section--similar-vacancy
        .box
            .heading Похожие вакансии
            .hot-vacancy.hot-vacancy--white
                .hot-vacancy__item
                    .hot-vacancy__name Инженер-проектировщик
                    .hot-vacancy__value SPA
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
                .hot-vacancy__item
                    .hot-vacancy__name Senior Project Manager
                    .hot-vacancy__value Embedded Systems Department
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
                .hot-vacancy__item
                    .hot-vacancy__name Инженер-проектировщик
                    .hot-vacancy__value SPA
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
                .hot-vacancy__item
                    .hot-vacancy__name Инженер-проектировщик
                    .hot-vacancy__value SPA
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
                .hot-vacancy__item
                    .hot-vacancy__name Инженер-проектировщик
                    .hot-vacancy__value SPA
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

public/markup/open-vacancy.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вкансия</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover prewiews--open-vacancy" style="background-image: url(../assets/index/images/bg-p-open-vacancy.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">инженер-проектировщик</h1>
          <div class="prewiews__content"><span>Добрый день, Уважаемый соискатель!</span><span>«Мы делаем отличный продукт и активно используем в нашей работе the best minds. У нас замечательная команда, и в качестве ее расширения мы ищем уникального человека, который бы распространял идеологию Новаком среди всех наших партнеров, пусть даже и против их воли».'</span></div>
        </div>
      </div>
      <main class="main">
        <section class="section def-list">
          <div class="section__inner">
            <div class="box">
              <div class="def-list__header">Вы будете заниматься:</div>
              <ul class="def-list__list">
                <li class="def-list__item">Разработкой новых и усовершенствованием существующих устройств на базе ARM-микроконтроллеров;</li>
                <li class="def-list__item">Разработкой структуры, архитектуры и схемотехники электронных устройств;</li>
                <li class="def-list__item">Трассировкой печатных плат электронных устройств;</li>
                <li class="def-list__item">Отладкой прототипов электронных устройств;</li>
                <li class="def-list__item">Разработкой ПО для ARM-микроконтроллеров;</li>
                <li class="def-list__item">Оформлением конструкторской документации (в соответствии с ЕСКД).</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section demands-list section--bg-red">
          <div class="section__inner">
            <div class="box">
              <div class="demands-list__header">У Вас есть:</div>
              <div class="demands-list__small-header">Высшее техническое образование;</div>
              <div class="content content--demands-list">
                <div class="grid">
                  <div class="grid__cell">
                    <p>Знания:</p>
                    <ul>
                      <li>Технического английского языка;</li>
                      <li>Цифровой и аналоговой схемотехники, современной элементной базы,архитектуры построения устройств на базе микроконтроллеров;</li>
                      <li>Трассировки печатных плат устройств с высокоскоростными интерфейсами;</li>
                      <li>Разработки ПО для ARM-микроконтроллеров на языке программирования С, устройств с использованием беспроводных интерфейсов (Wi-Fi, Bluetooth, GSM);</li>
                    </ul>
                    <p>Опыт работы:
                      <ul>
                        <li>С периферией ARM-микроконтроллеров производства Atmel, STMicroelectronics</li>
                      </ul>
                    </p>
                  </div>
                  <div class="grid__cell">
                    <p>Опыт разработки:</p>
                    <ul>
                      <li>Устройств с Ethernet-интерфейсом (lwIP стек), ПО на языке  программирования С++ для ARM-микроконтроллеров под управлением RTOS, КД</li>
                    </ul>
                    <p>Навыки работы с:</p>
                    <ul>
                      <li>САПР Altium Designer, AutoCAD;</li>
                      <li>IDE Keil uVision;</li>
                      <li>САD Kompas-3D;</li>
                      <li>IDE IAR, Atmel Studio</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.demands-list__inner-->
              <!--    .demands-list__name-list Знания:-->
              <!--        ul.demands-list__list-->
              <!--            li.demands-list__item Технического английского языка;-->
              <!--            li.demands-list__item Цифровой и аналоговой схемотехники, современной элементной базы,архитектуры построения устройств на базе микроконтроллеров;-->
              <!--            li.demands-list__item Трассировки печатных плат устройств с высокоскоростными интерфейсами;-->
              <!--            li.demands-list__item Разработки ПО для ARM-микроконтроллеров на языке программирования С, устройств с использованием беспроводных интерфейсов (Wi-Fi, Bluetooth, GSM);-->
              <!--    .demands-list__name-list Опыт работы:-->
              <!--        ul.demands-list__list-->
              <!--            li.demands-list__item С периферией ARM-микроконтроллеров производства Atmel, STMicroelectronics-->
              <!--    .demands-list__name-list Опыт разработки:-->
              <!--        ul.demands-list__list-->
              <!--            li.demands-list__item Устройств с Ethernet-интерфейсом (lwIP стек), ПО на языке  программирования С++ для ARM-микроконтроллеров под управлением RTOS, КД-->
              <!--    .demands-list__name-list Навыки работы с:-->
              <!--        ul.demands-list__list-->
              <!--            li.demands-list__item САПР Altium Designer, AutoCAD;-->
              <!--            li.demands-list__item IDE Keil uVision;-->
              <!--            li.demands-list__item САD Kompas-3D;-->
              <!--            li.demands-list__item IDE IAR, Atmel Studio-->
            </div>
          </div>
        </section>
        <section class="section def-list">
          <div class="section__inner">
            <div class="box">
              <div class="def-list__header">Мы предложим Вам:</div>
              <ul class="def-list__list">
                <li class="def-list__item">Отличное настроение, даже по понедельникам;</li>
                <li class="def-list__item">Стать частью дружного коллектива;</li>
                <li class="def-list__item">Испытать на себе продуманную систему прокачки и карьерного роста;</li>
                <li class="def-list__item">Обучение Путям Силы под руководством опытных Рыцарей-Джедаев;</li>
                <li class="def-list__item">Завладеть горшочком с золотом (по результатам собеседования);</li>
                <li class="def-list__item">Получить ключ от полностью оборудованного Убежища в центре города;</li>
                <li class="def-list__item">Навсегда изменить жизнь сотен тысяч людей во всем мире.</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section contact-face section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-contact-face.png);">
          <div class="box">
            <div class="heading">Котактное лицо</div>
            <div class="contact-face__info-inner">
              <div class="contact-face__images"><img src="../assets/index/images/otziv_personal1.jpg"></div>
              <div class="contact-face__info">
                <div class="contact-face__name">Ольга якута</div><a class="contact-face__link contact-face__link--home-tel" href="tel:+375172589698">+375 (17) 258-96-98</a><a class="contact-face__link contact-face__link--tel" href="tel:+375 (29) 258-97-47">+375 (29) 258-97-47</a><a class="contact-face__link contact-face__link--mail" href="mailto:V.Yakuta@novacom.by">V.Yakuta@novacom.by</a>
              </div>
              <div class="contact-face__btn-inner"><a class="btn contact-face__btn" href="#"> откликнуться на вакансию</a><a class="btn btn--green contact-face__btn" href="#"> Apply with LinkedIn</a></div>
            </div>
          </div>
        </section>
        <section class="section section--similar-vacancy">
          <div class="box">
            <div class="heading">Похожие вакансии</div>
            <div class="hot-vacancy hot-vacancy--white">
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Инженер-проектировщик</div>
                <div class="hot-vacancy__value">SPA</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Senior Project Manager</div>
                <div class="hot-vacancy__value">Embedded Systems Department</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Инженер-проектировщик</div>
                <div class="hot-vacancy__value">SPA</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Инженер-проектировщик</div>
                <div class="hot-vacancy__value">SPA</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Инженер-проектировщик</div>
                <div class="hot-vacancy__value">SPA</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">чем мы можем вам помочь?</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
