public/markup/project.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проекты</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover prewiews--open-vacancy" style="background-image: url(../assets/index/images/project-bg.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">Электронная торговая <br> площадка для проведения <br>  аукционов</h1>
          <ul class="heder-list">
            <li class="heder-list__item">оптимизация процедуры проведения аукционов;</li>
            <li class="heder-list__item">упрощение процедуры участия в аукционе;</li>
            <li class="heder-list__item">минимизация временных затрат на</li>
            <li class="heder-list__item">подготовительном этапе;</li>
            <li class="heder-list__item">привлечение большего числа участников;</li>
            <li class="heder-list__item">прозрачность и открытость процедуры реализации;</li>
          </ul>
        </div>
      </div>
      <main class="main">
        <div class="project-technolog">
          <div class="box">
            <div class="project-technolog__inner">
              <div class="project-technolog__item"><img src="../assets/index/images/ico-project-java.png"></div>
              <div class="project-technolog__item"><img src="../assets/index/images/ico-project-sql.png"></div>
              <div class="project-technolog__item"><img src="../assets/index/images/ico-project-MYsql.png"></div>
              <div class="project-technolog__item"><img src="../assets/index/images/ico-project-apache.png"></div>
            </div>
          </div>
        </div>
        <section class="section customer">
          <div class="section__inner">
            <div class="box">
              <div class="customer__inner">
                <div class="customer__header">Заказчик</div>
                <hr>
                <div class="customer__item">
                  <div class="customer__images"><img src="../assets/index/images/customer-vostok.png"></div>
                  <div class="customer__data data-customer">
                    <div class="data-customer__header">ТД “Восточный”</div>
                    <div class="data-customer__content">Торговый дом «Восточный» - сервисно-торговое республиканское унитарное предприятие.</div><a class="data-customer__link" href="#">www.td-vostochnyj.by</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red def-list def-list--white">
          <div class="section__inner">
            <div class="box">
              <div class="def-list__header">Цели и задачи</div>
              <ul class="def-list__list">
                <li class="def-list__item">оптимизация процедуры проведения аукционов;</li>
                <li class="def-list__item">упрощение процедуры участия в аукционе;</li>
                <li class="def-list__item">минимизация временных затрат на подготовительном этапе;</li>
                <li class="def-list__item">привлечение большего числа участников;</li>
                <li class="def-list__item">прозрачность и открытость процедуры реализации;</li>
                <li class="def-list__item">повышение экономической эффективности.</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section section--content">
          <div class="box">
            <div class="content content--project">
              <h3>решение</h3>
              <hr>
              <p>
                В качестве решения была использована разработанная сотрудниками компании Новаком торговая площадка с адаптацией под требования
                Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный»
                публикуют аукционы, информацию по лотам, сроки проведения аукциона, другую общую информацию. Для участия в торгах пользователю
                необходимо пройти Аккредитацию. Участником может стать любое заинтересованное лицо (как физическое, так и юридическое; как резидент
                Республики Беларусь, так и нерезидент страны).
                
              </p>
              <p>
                Система регистрации двухэтапная. На первой этапе заинтересованное лицо проходит аккредитацию. Получает письмо с подтверждением, после
                этого участник завершает процедуру подачи аккредитации.
                На главной странице системы Участник видит все активные аукционы. Выбрав интересующий его лот, он может просмотреть всю имеющуюся
                информацию по лоту. Перед началом аукциона Участники вносят задаток (в случае, если Участник станет победителем аукциона, задаток
                учитывается при окончательных расчётах за предмет аукциона по договору купли-продажи; если Участник не станет победителем аукциона,
                задаток возвращается в течение 5 дней). Система предоставляет возможность Участнику отозвать свою заявку до момента начала аукциона.
                В день проведения аукциона Участник проходит окончательную регистрацию после осуществления которой входит в комнату лота, по которому
                будет участвовать в аукционе. С целью предотвращения лоббирования на площадке чьих-либо интересов Организатор аукциона видит лишь
                обезличенный список Участников (код, под которым они участвуют).
                
              </p>
              <p>
                По окончанию аукциона определяется Победитель, которому на почту придёт уведомление о том, что он стал Победителем, остальным Участникам
                аукциона приходит код участника Победителя.
              </p>
              <h3>Результаты</h3>
              <hr>
              <p>Основная задача, которую Заказчик ставил перед разработчиками – упрощение процедуры организации торгов – выполнена в полной мере.</p>
              <p class="content-name-list">Кроме того, внедрение площадки способствовало решению следующих задач:</p>
              <ul>
                <li>устранение необходимости для Участников физического присутствия на этапе подачи заявления на участие в аукционе, а также во время его  проведения;</li>
                <li>снижение рисков Участников аукциона (платформа исключает лоббирование чьих-либо интересов);</li>
                <li>жизненный цикл аукциона составил 5 дней (с момента публикации до момента торгов);</li>
                <li>расчётная нагрузка системы до 200 аукционов в день.</li>
              </ul>
            </div>
          </div>
        </section>
        <div class="slide-progect">
          <div class="box">
            <div class="slide-progect__header">Следующик проект</div>
            <div class="owl-carousel slide-progect__inner">
              <div class="slide-progect__item">
                <div class="pr-solutions__item"><a class="pr-solutions__images" href="#" style="background-image: url(../assets/index/images/project-solutions.jpg);"></a>
                  <div class="pr-solutions__data">
                    <div class="pr-solutions__header">Электронная торговая площадка для проведения аукционов</div>
                    <div class="pr-solutions__content">В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.</div>
                    <div class="btn-inner btn-inner--left"><a class="btn btn--black pr-solutions__btn" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
              <div class="slide-progect__item">
                <div class="pr-solutions__item"><a class="pr-solutions__images" href="#" style="background-image: url(../assets/index/images/project-solutions.jpg);"></a>
                  <div class="pr-solutions__data">
                    <div class="pr-solutions__header">Электронная торговая площадка для проведения аукционов</div>
                    <div class="pr-solutions__content">В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.</div>
                    <div class="btn-inner btn-inner--left"><a class="btn btn--black pr-solutions__btn" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
              <div class="slide-progect__item">
                <div class="pr-solutions__item"><a class="pr-solutions__images" href="#" style="background-image: url(../assets/index/images/project-solutions.jpg);"></a>
                  <div class="pr-solutions__data">
                    <div class="pr-solutions__header">Электронная торговая площадка для проведения аукционов</div>
                    <div class="pr-solutions__content">В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.</div>
                    <div class="btn-inner btn-inner--left"><a class="btn btn--black pr-solutions__btn" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
              <div class="slide-progect__item">
                <div class="pr-solutions__item"><a class="pr-solutions__images" href="#" style="background-image: url(../assets/index/images/project-solutions.jpg);"></a>
                  <div class="pr-solutions__data">
                    <div class="pr-solutions__header">Электронная торговая площадка для проведения аукционов</div>
                    <div class="pr-solutions__content">В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.</div>
                    <div class="btn-inner btn-inner--left"><a class="btn btn--black pr-solutions__btn" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">запросить подробное описание</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/project.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Проекты'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-layer.bg-cover.prewiews--open-vacancy(style="background-image: url(../assets/index/images/project-bg.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!= 'Электронная торговая <br> площадка для проведения <br>  аукционов'
            ul.heder-list
                li.heder-list__item оптимизация процедуры проведения аукционов;
                li.heder-list__item упрощение процедуры участия в аукционе;
                li.heder-list__item минимизация временных затрат на
                li.heder-list__item подготовительном этапе;
                li.heder-list__item привлечение большего числа участников;
                li.heder-list__item прозрачность и открытость процедуры реализации;

block main
    .project-technolog
        .box
            .project-technolog__inner
                .project-technolog__item
                    img(src= p_img + "ico-project-java.png")
                .project-technolog__item
                    img(src= p_img + "ico-project-sql.png")
                .project-technolog__item
                    img(src= p_img + "ico-project-MYsql.png")
                .project-technolog__item
                    img(src= p_img + "ico-project-apache.png")
    section.section.customer
        .section__inner
            .box
                .customer__inner
                    .customer__header Заказчик
                    hr
                    .customer__item
                        .customer__images
                            img(src= p_img + "customer-vostok.png")
                        .customer__data.data-customer
                            .data-customer__header ТД “Восточный”
                            .data-customer__content Торговый дом «Восточный» - сервисно-торговое республиканское унитарное предприятие.
                            a(href="#").data-customer__link www.td-vostochnyj.by
    section.section.section--bg-red.def-list.def-list--white
        .section__inner
            .box
                .def-list__header Цели и задачи
                ul.def-list__list
                    li.def-list__item оптимизация процедуры проведения аукционов;
                    li.def-list__item упрощение процедуры участия в аукционе;
                    li.def-list__item минимизация временных затрат на подготовительном этапе;
                    li.def-list__item привлечение большего числа участников;
                    li.def-list__item прозрачность и открытость процедуры реализации;
                    li.def-list__item повышение экономической эффективности.
    section.section.section--content
        .box
            .content.content--project
                h3 решение
                hr
                p.
                    В качестве решения была использована разработанная сотрудниками компании Новаком торговая площадка с адаптацией под требования
                    Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный»
                    публикуют аукционы, информацию по лотам, сроки проведения аукциона, другую общую информацию. Для участия в торгах пользователю
                    необходимо пройти Аккредитацию. Участником может стать любое заинтересованное лицо (как физическое, так и юридическое; как резидент
                    Республики Беларусь, так и нерезидент страны).

                p.
                    Система регистрации двухэтапная. На первой этапе заинтересованное лицо проходит аккредитацию. Получает письмо с подтверждением, после
                    этого участник завершает процедуру подачи аккредитации.
                    На главной странице системы Участник видит все активные аукционы. Выбрав интересующий его лот, он может просмотреть всю имеющуюся
                    информацию по лоту. Перед началом аукциона Участники вносят задаток (в случае, если Участник станет победителем аукциона, задаток
                    учитывается при окончательных расчётах за предмет аукциона по договору купли-продажи; если Участник не станет победителем аукциона,
                    задаток возвращается в течение 5 дней). Система предоставляет возможность Участнику отозвать свою заявку до момента начала аукциона.
                    В день проведения аукциона Участник проходит окончательную регистрацию после осуществления которой входит в комнату лота, по которому
                    будет участвовать в аукционе. С целью предотвращения лоббирования на площадке чьих-либо интересов Организатор аукциона видит лишь
                    обезличенный список Участников (код, под которым они участвуют).

                p.
                    По окончанию аукциона определяется Победитель, которому на почту придёт уведомление о том, что он стал Победителем, остальным Участникам
                    аукциона приходит код участника Победителя.
                h3 Результаты
                hr
                p Основная задача, которую Заказчик ставил перед разработчиками – упрощение процедуры организации торгов – выполнена в полной мере.
                p.content-name-list Кроме того, внедрение площадки способствовало решению следующих задач:
                ul
                    li устранение необходимости для Участников физического присутствия на этапе подачи заявления на участие в аукционе, а также во время его  проведения;
                    li снижение рисков Участников аукциона (платформа исключает лоббирование чьих-либо интересов);
                    li жизненный цикл аукциона составил 5 дней (с момента публикации до момента торгов);
                    li расчётная нагрузка системы до 200 аукционов в день.

    .slide-progect
        .box
            .slide-progect__header Следующик проект
            .owl-carousel.slide-progect__inner
                .slide-progect__item
                    .pr-solutions__item
                        a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                        .pr-solutions__data
                            .pr-solutions__header Электронная торговая площадка для проведения аукционов
                            .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                            .btn-inner.btn-inner--left
                                a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .slide-progect__item
                    .pr-solutions__item
                        a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                        .pr-solutions__data
                            .pr-solutions__header Электронная торговая площадка для проведения аукционов
                            .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                            .btn-inner.btn-inner--left
                                a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .slide-progect__item
                    .pr-solutions__item
                        a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                        .pr-solutions__data
                            .pr-solutions__header Электронная торговая площадка для проведения аукционов
                            .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                            .btn-inner.btn-inner--left
                                a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .slide-progect__item
                    .pr-solutions__item
                        a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                        .pr-solutions__data
                            .pr-solutions__header Электронная торговая площадка для проведения аукционов
                            .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                            .btn-inner.btn-inner--left
                                a(href='#').btn.btn--black.pr-solutions__btn читать полностью
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading запросить подробное описание
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить
block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
