public/markup/resume.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резюме</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-p-rezume.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">не нашли подходящую вакансию?</h1>
          <div class="prewiews__content">Присылайте нам свое резюме, и мы свяжемся с вами,  когда появится что-то подходящее.</div>
        </div>
      </div>
      <main class="main">
        <section class="section p-resume" style="background-image: url(../assets/index/images/shadow__heading-resume.png);">
          <div class="box">
            <div class="heading">Отправить резюме</div>
            <div class="p-resume__inner">
              <div class="grid">
                <div class="grid__cell">
                  <div class="g-help__inner">
                    <form class="def-form">
                      <div class="def-form__row">
                        <div class="def-form__group">
                          <input class="def-form__input" type="text" placeholder="Имя">
                          <div class="def-form__helper"></div>
                        </div>
                        <div class="def-form__group">
                          <input class="def-form__input" type="text" placeholder="Фамилия">
                          <div class="def-form__helper">Введите корректный телефон</div>
                        </div>
                      </div>
                      <div class="def-form__row">
                        <div class="def-form__group">
                          <input class="def-form__input" type="text" placeholder="E-mail">
                          <div class="def-form__helper"></div>
                        </div>
                        <div class="def-form__group">
                          <input class="def-form__input" type="text" placeholder="Телефон">
                          <div class="def-form__helper"></div>
                        </div>
                      </div>
                      <div class="def-form__row">
                        <div class="def-form__group">
                          <select class="def-form__select">
                            <option value="" hidden disabled selected>Выберите страну</option>
                            <option value="Беларусь">Беларусь</option>
                            <option value="Беларусь">Беларусь</option>
                            <option value="Беларусь">Беларусь</option>
                            <option value="Беларусь">Беларусь</option>
                            <option value="Беларусь">Беларусь</option>
                          </select>
                          <div class="def-form__helper"></div>
                        </div>
                        <div class="def-form__group">
                          <select class="def-form__select">
                            <option value="" hidden disabled selected>Выберите город</option>
                            <option value="Беларусь">Минск</option>
                            <option value="Беларусь">Минск</option>
                            <option value="Беларусь">Минск</option>
                            <option value="Беларусь">Минск</option>
                            <option value="Беларусь">Минск</option>
                          </select>
                          <div class="def-form__helper"></div>
                        </div>
                      </div>
                      <div class="def-form__row">
                        <div class="def-form__group def-form__group--file">
                          <div class="def-form__file-inner">
                            <input class="def-form__file-input" type="file" id="file" multiple>
                            <label class="def-form__file-label" for="file">Перетащите сюда свое резюме или кликните, чтобы выбрать из папки</label>
                          </div>
                          <div class="def-form__file-upload">resume.txt</div>
                        </div>
                      </div>
                      <div class="def-form__row">
                        <div class="def-form__group def-form__group--textarea">
                          <textarea class="def-form__textarea" placeholder="Ваше сообщение"></textarea>
                          <div class="def-form__helper"></div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="btn-inner"><a class="btn" href="#">Отправить</a></div>
                </div>
                <div class="grid__cell">
                  <div class="btn-inner btn-inner--right"><a class="btn btn--green" href="#">использовать linkedin</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/resume.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Резюме'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-p-rezume.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading не нашли подходящую вакансию?
            .prewiews__content Присылайте нам свое резюме, и мы свяжемся с вами,  когда появится что-то подходящее.



block main
    section.section.p-resume(style="background-image: url(../assets/index/images/shadow__heading-resume.png);")
        .box
            .heading Отправить резюме
            .p-resume__inner
                .grid
                    .grid__cell
                        .g-help__inner
                            form.def-form
                                .def-form__row
                                    .def-form__group
                                        input(type="text", placeholder='Имя').def-form__input
                                        .def-form__helper
                                    .def-form__group
                                        input(type="text", placeholder='Фамилия').def-form__input
                                        .def-form__helper Введите корректный телефон
                                .def-form__row
                                    .def-form__group
                                        input(type="text", placeholder='E-mail').def-form__input
                                        .def-form__helper
                                    .def-form__group
                                        input(type="text", placeholder='Телефон').def-form__input
                                        .def-form__helper
                                .def-form__row
                                    .def-form__group
                                        select.def-form__select
                                            option(value="" hidden disabled selected) Выберите страну
                                            option(value='Беларусь') Беларусь
                                            option(value='Беларусь') Беларусь
                                            option(value='Беларусь') Беларусь
                                            option(value='Беларусь') Беларусь
                                            option(value='Беларусь') Беларусь
                                        .def-form__helper
                                    .def-form__group
                                        select.def-form__select
                                            option(value="" hidden disabled selected) Выберите город
                                            option(value='Беларусь') Минск
                                            option(value='Беларусь') Минск
                                            option(value='Беларусь') Минск
                                            option(value='Беларусь') Минск
                                            option(value='Беларусь') Минск
                                        .def-form__helper
                                .def-form__row
                                    .def-form__group.def-form__group--file
                                        .def-form__file-inner
                                            input(type="file", class="def-form__file-input", id="file", multiple)
                                            label(for="file", class="def-form__file-label") Перетащите сюда свое резюме или кликните, чтобы выбрать из папки
                                        .def-form__file-upload resume.txt
                                .def-form__row
                                    .def-form__group.def-form__group--textarea
                                        textarea(placeholder='Ваше сообщение').def-form__textarea
                                        .def-form__helper
                        .btn-inner
                            a(href="#").btn Отправить
                    .grid__cell
                        .btn-inner.btn-inner--right
                            a(href="#").btn.btn--green использовать linkedin




block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
