public/markup/solutions2-1.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution11.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading heading--sloution1-1">Системы телеметрии <br> и межмашинное взаимодействие   </h1>
          <div class="prewiews__content prewiews__content--small-solutions"><span>Умное предприятие сегодня является основной конкурентоспособности завтра</span></div>
        </div>
      </div>
      <main class="main">
        <div class="solution-preview">
          <div class="box">
            <div class="solution-preview__inner solution-preview__inner--3cell">
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution21-head2.png"></div>
                <div class="solution-preview__name">Сбор данных с распределённых устройств</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution21-head1.png"></div>
                <div class="solution-preview__name">Передача данных в режиме реального времени</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution21-head3.png"></div>
                <div class="solution-preview__name">Анализ данных и мониторинг процессов</div>
              </div>
            </div>
          </div>
        </div>
        <section class="section" style="background-image: url(../assets/index/images/shadow__heading-discription.png);">
          <div class="box">
            <div class="heading">описание</div>
            <div class="section__content">
              Cоздаваемые нами системы на основе технологий телеметрии и межмашинного взаимодействия позволяют собирать большие объемы данных с разного типа датчиков и устройств, обеспечивать их передачу по каналам беспроводной связи, анализировать входящую информацию, прогнозировать действия и обеспечивать удаленное управление.
              
            </div>
          </div>
        </section>
        <section class="section section--solution-block section--bg-gray">
          <div class="box">
            <div class="solution__header">Подходы к реализации</div>
            <ul class="solution__list">
              <li class="solution__item">Организация сбора данных с датчиков разных типов и производителей</li>
              <li class="solution__item">Обеспечение анализа и хранения больших данных</li>
              <li class="solution__item">Доступ к информации через веб и мобильные приложения</li>
              <li class="solution__item">Создание единого информационного пространства в зависимости от для групп пользователей и типов данных</li>
              <li class="solution__item"> Работоспособность устройств в разных условиях</li>
            </ul>
          </div>
        </section>
        <section class="section interaction" style="background-image: url(../assets/index/images/shadow__heading-solutions.png);">
          <div class="box">
            <div class="heading heading--small-mobile">Комплексные решения</div>
            <div class="interaction__inner">
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle show-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solut21-interaction1.png"></div>
                  </div>
                </div>
                <div class="interaction__name">Разработка прототипа устройств</div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle show-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solut21-interaction2.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Создание <br>
                  микроконтроллеров
                </div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle show-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solut21-interaction3.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Программный <br>
                  комплекс
                </div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle show-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solut21-interaction4.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Каналы обмена <br>
                  данными
                </div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle show-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solut21-interaction5.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Системы <br>
                  безопасности
                </div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle show-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solut21-interaction6.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Мобильные и веб <br>
                  приложения
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="small-news-slider owl-carousel"><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">8 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">10 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">12 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a></div>
        <section class="section section--bg-red team-project team-project--solution21 bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-team-project-info.jpg);">
          <div class="box">
            <div class="team-project__header">
              Мы занимаемся разработкой систем в соответствии
              со следующими видами работ:
            </div>
            <div class="team-project__inner">
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions21-project1.png"></div>
                <div class="team-project__content">
                  Обследование и подготовка
                  концепции и технического задания
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions21-project2.png"></div>
                <div class="team-project__content">
                  Производство либо поставка
                  оборудования и материалов
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions21-project3.png"></div>
                <div class="team-project__content">
                  Разработка технического проекта
                  и согласование с надзорными органами
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions21-project4.png"></div>
                <div class="team-project__content">
                  Монтаж и пусконаладочные
                  работы
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions21-project5.png"></div>
                <div class="team-project__content">
                  Разработка программной
                  платформы
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions21-project6.png"></div>
                <div class="team-project__content">
                  Обеспечение взаимодействия
                  со смежными системами,
                  гарантийное сопровождение
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section view-our-project section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);">
          <div class="box">
            <div class="heading heading--small-mobile">Ознакомьтесь с нашими проектами</div>
            <div class="view-our-project__inner">
              <div class="view-our-projects__slider-3cell owl-carousel">
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-1.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система контроля кассового оборудования</div>
                    <div class="view-our-project__content">
                      Система обеспечивает сбор информации
                      об оплате товаров и услуг через кассы
                      и иные платежные терминалы в режиме
                      реального времени, их хранение и анализ.
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-2.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система учета энергоресурсов</div>
                    <div class="view-our-project__content">
                      Предназначена для сбора данных
                      с приборов учета различных производителей,
                      анализа отклонений и контроля их
                      использования
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-3.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система учета энергоресурсов</div>
                    <div class="view-our-project__content">
                      Предназначена для непрерывного мониторинга
                      состава и количества вредных веществ
                      в атмосфере, и последующего прогнозирования
                      действий персонала в аварийных ситуациях.
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section g-klients" style="background-image: url(../assets/index/images/shadow__heading-clients.png);">
          <div class="box">
            <div class="heading">наши клиенты</div>
            <div class="g-klients__slider">
              <div class="slid-clients slid-clients--solution">
                <div class="slid-clients__inner owl-carousel">
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients1.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients2.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients3.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients4.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients5.png"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section part-of-team part-of-team--p-work bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-team-project.jpg);">
          <div class="section__inner">
            <div class="box">
              <div class="heading">Подходы к разработке</div>
              <div class="part-of-team__tittle"></div>
              <ul class="part-of-team__list">
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Выделенные проектные команды,
                    объединяющие техническую и отраслевую
                    экспертизу
                  </div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Использование Learn и Agile подходов
                    в работах проектных команд
                  </div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Соблюдение сроков и договорных
                    условий
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading heading--small-mobile">запросить дополнительную <br> информацию</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/solutions2-1.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution11.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading.heading--sloution1-1!=  'Системы телеметрии <br> и межмашинное взаимодействие   '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Умное предприятие сегодня является основной конкурентоспособности завтра'
block main
    .solution-preview
        .box
            .solution-preview__inner.solution-preview__inner--3cell
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution21-head2.png')
                    .solution-preview__name Сбор данных с распределённых устройств


                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution21-head1.png')
                    .solution-preview__name Передача данных в режиме реального времени



                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution21-head3.png')
                    .solution-preview__name Анализ данных и мониторинг процессов

    section.section(style="background-image: url(../assets/index/images/shadow__heading-discription.png);")
        .box
            .heading описание
            .section__content.
                Cоздаваемые нами системы на основе технологий телеметрии и межмашинного взаимодействия позволяют собирать большие объемы данных с разного типа датчиков и устройств, обеспечивать их передачу по каналам беспроводной связи, анализировать входящую информацию, прогнозировать действия и обеспечивать удаленное управление.

    section.section.section--solution-block.section--bg-gray
        .box
            .solution__header Подходы к реализации
            ul.solution__list
                li.solution__item Организация сбора данных с датчиков разных типов и производителей
                li.solution__item Обеспечение анализа и хранения больших данных
                li.solution__item Доступ к информации через веб и мобильные приложения
                li.solution__item Создание единого информационного пространства в зависимости от для групп пользователей и типов данных
                li.solution__item  Работоспособность устройств в разных условиях
    section.section.interaction(style="background-image: url(../assets/index/images/shadow__heading-solutions.png);")
        .box
            .heading.heading--small-mobile Комплексные решения
            .interaction__inner
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction1.png")
                    .interaction__name Разработка прототипа устройств
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction2.png")
                    .interaction__name.
                        Создание <br>
                        микроконтроллеров
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction3.png")
                    .interaction__name.
                        Программный <br>
                        комплекс
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction4.png")
                    .interaction__name.
                        Каналы обмена <br>
                        данными
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction5.png")
                    .interaction__name.
                        Системы <br>
                        безопасности
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction6.png")
                    .interaction__name.
                        Мобильные и веб <br>
                        приложения
    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project-info.jpg);")
        .box
            .team-project__header.
                Мы занимаемся разработкой систем в соответствии
                со следующими видами работ:
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project1.png')
                    .team-project__content.
                        Обследование и подготовка
                        концепции и технического задания
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project2.png')
                    .team-project__content.
                        Производство либо поставка
                        оборудования и материалов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project3.png')
                    .team-project__content.
                        Разработка технического проекта
                        и согласование с надзорными органами
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project4.png')
                    .team-project__content.
                        Монтаж и пусконаладочные
                        работы
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project5.png')
                    .team-project__content.
                        Разработка программной
                        платформы
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project6.png')
                    .team-project__content.
                        Обеспечение взаимодействия
                        со смежными системами,
                        гарантийное сопровождение
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile Ознакомьтесь с нашими проектами
            .view-our-project__inner
                .view-our-projects__slider-3cell.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-1.jpg")
                        .view-our-project__data
                            .view-our-project__header Система контроля кассового оборудования
                            .view-our-project__content.
                                Система обеспечивает сбор информации
                                об оплате товаров и услуг через кассы
                                и иные платежные терминалы в режиме
                                реального времени, их хранение и анализ.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-2.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для сбора данных
                                с приборов учета различных производителей,
                                анализа отклонений и контроля их
                                использования
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-3.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для непрерывного мониторинга
                                состава и количества вредных веществ
                                в атмосфере, и последующего прогнозирования
                                действий персонала в аварийных ситуациях.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью

    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients.slid-clients--solution
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg)")
        .section__inner
            .box
                .heading Подходы к разработке
                .part-of-team__tittle
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы
                    li.part-of-team__item
                        .part-of-team__header.
                            Выделенные проектные команды,
                            объединяющие техническую и отраслевую
                            экспертизу
                    li.part-of-team__item
                        .part-of-team__header.
                            Использование Learn и Agile подходов
                            в работах проектных команд
                    li.part-of-team__item
                        .part-of-team__header.
                            Соблюдение сроков и договорных
                            условий
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile запросить дополнительную <br> информацию
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
