public/markup/solutions2.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution2.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">промышленный интернет <br> вещей</h1>
          <div class="prewiews__content prewiews__content--small-solutions"><span>Развитие индустрии промышленного интернета вещей позволяют существенно нарастить качество и  производственные мощности промышленных предприятий, сфер услуг, ЖКХ и иных отраслей, оказывающих влияние на качество жизни. Мы создаем комплексные решения, объединяющие аппаратную часть, каналы передачи данных и программные комплексы.</span></div>
        </div>
      </div>
      <main class="main">
        <div class="solution-preview">
          <div class="box">
            <div class="solution-preview__inner">
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution2-head1.png"></div>
                <div class="solution-preview__name">Экономический эффект</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution2-head2.png"></div>
                <div class="solution-preview__name">
                  Разумное использование
                  ресурсов
                </div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution2-head3.png"></div>
                <div class="solution-preview__name">
                  Передача и анализ
                  больших данных
                </div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution-head4.png"></div>
                <div class="solution-preview__name">
                  Международные
                  стандарты
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="solution-circe">
          <div class="box">
            <div class="info-companu">
              <div class="info-companu__inner">
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution2-circle1.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header">
                    Индивидуальная
                    разработка
                  </div>
                </div>
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution2-circle2.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header">Адаптируемые решения</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="section section--bg-gray solut-services" style="background-image: url(../assets/index/images/shadow__heading-services.png);">
          <div class="box">
            <div class="heading">услуги</div>
            <div class="solut-services__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution2-bg-services1.jpg);">
                    <div class="solut-services__name">
                      Системы телеметрии
                      и межмашинное
                      взаимодействие
                    </div>
                    <div class="btn btn--white-red">подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution2-bg-services2.jpg);">
                    <div class="solut-services__name">
                      Системы фискализации
                      денежного оборота
                    </div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution2-bg-services3.jpg);">
                    <div class="solut-services__name">
                      Системы учета
                      энергоресурсов
                    </div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section solut-industry" style="background-image: url(../assets/index/images/shadow__heading-industry.png);">
          <div class="box">
            <div class="heading">индустрии</div>
            <div class="solut-industry__title">Создание комплексных систем непременно сочетает экспертизу в области современных информационных технологий и конкретной предметной среде. В данном случае разработчики непрерывно работают с внутренними либо привлекаемыми отраслевыми экспертами для создания кастомизированного решения. Реализованные проекты позволили нам накопить опыт и знания в следующих сферах:</div>
            <div class="solut-industry__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution2-industry1.jpg);">
                    <div class="solut-industry__header">государство</div>
                    <div class="solut-industry__content">Мониторинг и контроль прослеживаемости товаров, наличных денежных платежей и иных объектов</div></a></div>
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution2-industry2.jpg);">
                    <div class="solut-industry__header">производство</div>
                    <div class="solut-industry__content">Повышение эффективности существующих производственных и технологических процессов, снижение потребности в капитальных затратах.</div></a></div>
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution2-industry3.jpg);">
                    <div class="solut-industry__header">умные города</div>
                    <div class="solut-industry__content">Оптимизация использования энергии, создание безопасных городов и умных домов, в котором существующие ресурсы используются наилучшим образом.</div></a></div>
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution2-industry4.jpg);">
                    <div class="solut-industry__header">логистика</div>
                    <div class="solut-industry__content">Получение информации в режиме реального времени о работе автотранспортных средств, быстрый и удобный поиск нужного объекта на больших территориях.</div></a></div>
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution2-industry5.jpg);">
                    <div class="solut-industry__header">энергия</div>
                    <div class="solut-industry__content">Оптимизация производства и сокращение затрат для энергетических компаний, помощь организациям и потребителям в управлении энергетическими потоками</div></a></div>
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution2-industry6.jpg);">
                    <div class="solut-industry__header">финансовые услуги</div>
                    <div class="solut-industry__content">Контролируемые банковские операции, начиная от банкоматов до банковского онлайн обслуживания.</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red solution2-table-data" style="background-image: url(../assets/index/images/shadow__heading-how-work-red.png);">
          <div class="box">
            <div class="heading heading--small-mobile"> как работает промышленный <br> интернет вещей</div>
            <div class="solution2-table-data__images"><img src="../assets/index/images/solution2-table-data.png"></div>
          </div>
        </section>
        <section class="section view-our-project section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);">
          <div class="box">
            <div class="heading heading--small-mobile">внедрения</div>
            <div class="view-our-project__inner">
              <div class="view-our-projects__slider-3cell owl-carousel">
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-1.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система контроля кассового оборудования</div>
                    <div class="view-our-project__content">
                      Система обеспечивает сбор информации
                      об оплате товаров и услуг через кассы
                      и иные платежные терминалы в режиме
                      реального времени, их хранение и анализ.
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-2.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система учета энергоресурсов</div>
                    <div class="view-our-project__content">
                      Предназначена для сбора данных
                      с приборов учета различных производителей,
                      анализа отклонений и контроля их
                      использования
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-3.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система учета энергоресурсов</div>
                    <div class="view-our-project__content">
                      Предназначена для непрерывного мониторинга
                      состава и количества вредных веществ
                      в атмосфере, и последующего прогнозирования
                      действий персонала в аварийных ситуациях.
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray how-we-work" style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);">
          <div class="box">
            <div class="heading">как мы работаем</div>
            <div class="how-we-work__inner">
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut2-how-work1.png">
                  <div class="how-we-work__count">1</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Мы знакомимся с вашими
                    процессами и совместно
                    определяем объекты и процессы
                    автоматизации
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut2-how-work2.png">
                  <div class="how-we-work__count">2</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Наши специалисты анализируют
                    и оценивают реализацию
                    проекта с использованием
                    технологий Internet of things.
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut2-how-work3.png">
                  <div class="how-we-work__count">3</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Мы разрабатываем
                    реализации идеи,
                    определяем этапы и стоимость
                    услуг разработки.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red team-project team-project--solution2 bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);">
          <div class="box">
            <div class="heading heading--small-mobile">Преимущества</div>
            <div class="team-project__inner">
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions2-project1.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-name">возможность управления</div>
                  <div class="team-project__item-title">Расширенные возможности управления и аналитики данных</div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions2-project2.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-name">Оптимальные сроки внедрения</div>
                  <div class="team-project__item-title">
                    Опыт работы в сфере IT более 10 лет позволяет
                    нам оперативно создавать и внедрять
                    разработанные системы
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions2-project3.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-name">Масштабируемость</div>
                  <div class="team-project__item-title">
                    Обеспечивается масштабируемость
                    вычислений в системах «устройства-облако»
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions2-project4.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-name">Минимизация рисков</div>
                  <div class="team-project__item-title">
                    Наша команда обладает широкими экспертными
                    знаниями в области IoT
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions2-project5.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-name">Безопасность</div>
                  <div class="team-project__item-title">Обеспечение высокого уровня безопасности</div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions2-project6.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-name">Сочетание цена/качество</div>
                  <div class="team-project__item-title">Благодаря объединению Ваших знаний рынка и нашего опыта в области разработки</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray other-industry" style="background-image: url(../assets/index/images/shadow__heading-industry.png);">
          <div class="box">
            <div class="heading heading--small-mobile">другие компетенции <span> novacom </span></div>
            <div class="solut-services__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);">
                    <div class="solut-services__name">заказная разработка <br> информационных <br> систем</div>
                    <div class="btn btn--white-red">подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);">
                    <div class="solut-services__name">электронное взаимодействие</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);">
                    <div class="solut-services__name">прикладное программирование</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">задайте вопрос прямо сейчас</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/solutions2.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution2.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'промышленный интернет <br> вещей'
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Развитие индустрии промышленного интернета вещей позволяют существенно нарастить качество и  производственные мощности промышленных предприятий, сфер услуг, ЖКХ и иных отраслей, оказывающих влияние на качество жизни. Мы создаем комплексные решения, объединяющие аппаратную часть, каналы передачи данных и программные комплексы.'
block main
    .solution-preview
        .box
            .solution-preview__inner
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution2-head1.png')
                    .solution-preview__name.
                        Экономический эффект
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution2-head2.png')
                    .solution-preview__name.
                        Разумное использование
                        ресурсов
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution2-head3.png')
                    .solution-preview__name.
                        Передача и анализ
                        больших данных
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head4.png')
                    .solution-preview__name.
                        Международные
                        стандарты
    .solution-circe
        .box
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution2-circle1.png")
                        .info-companu__header.
                            Индивидуальная
                            разработка
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution2-circle2.png")
                        .info-companu__header.
                            Адаптируемые решения
    section.section.section--bg-gray.solut-services(style="background-image: url(../assets/index/images/shadow__heading-services.png);")
        .box
            .heading услуги
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution2-bg-services1.jpg);")
                            .solut-services__name.
                                Системы телеметрии
                                и межмашинное
                                взаимодействие
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution2-bg-services2.jpg);")
                            .solut-services__name.
                                Системы фискализации
                                денежного оборота
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution2-bg-services3.jpg);")
                            .solut-services__name.
                                Системы учета
                                энергоресурсов
                            .btn.btn--white-red  подробнее
    section.section.solut-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading индустрии
            .solut-industry__title!= 'Создание комплексных систем непременно сочетает экспертизу в области современных информационных технологий и конкретной предметной среде. В данном случае разработчики непрерывно работают с внутренними либо привлекаемыми отраслевыми экспертами для создания кастомизированного решения. Реализованные проекты позволили нам накопить опыт и знания в следующих сферах:'
            .solut-industry__inner
                .grid
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry1.jpg);")
                            .solut-industry__header государство
                            .solut-industry__content.
                                Мониторинг и контроль прослеживаемости товаров, наличных денежных платежей и иных объектов
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry2.jpg);")
                            .solut-industry__header производство
                            .solut-industry__content.
                                Повышение эффективности существующих производственных и технологических процессов, снижение потребности в капитальных затратах.
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry3.jpg);")
                            .solut-industry__header умные города
                            .solut-industry__content.
                                Оптимизация использования энергии, создание безопасных городов и умных домов, в котором существующие ресурсы используются наилучшим образом.
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry4.jpg);")
                            .solut-industry__header логистика
                            .solut-industry__content.
                                Получение информации в режиме реального времени о работе автотранспортных средств, быстрый и удобный поиск нужного объекта на больших территориях.
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry5.jpg);")
                            .solut-industry__header энергия
                            .solut-industry__content.
                                Оптимизация производства и сокращение затрат для энергетических компаний, помощь организациям и потребителям в управлении энергетическими потоками
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry6.jpg);")
                            .solut-industry__header финансовые услуги
                            .solut-industry__content.
                                Контролируемые банковские операции, начиная от банкоматов до банковского онлайн обслуживания.
    section.section.section--bg-red.solution2-table-data(style="background-image: url(../assets/index/images/shadow__heading-how-work-red.png);")
        .box
            .heading.heading--small-mobile  как работает промышленный <br> интернет вещей
            .solution2-table-data__images
                img(src=p_img + "solution2-table-data.png")
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile внедрения
            .view-our-project__inner
                .view-our-projects__slider-3cell.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-1.jpg")
                        .view-our-project__data
                            .view-our-project__header Система контроля кассового оборудования
                            .view-our-project__content.
                                Система обеспечивает сбор информации
                                об оплате товаров и услуг через кассы
                                и иные платежные терминалы в режиме
                                реального времени, их хранение и анализ.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-2.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для сбора данных
                                с приборов учета различных производителей,
                                анализа отклонений и контроля их
                                использования
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-3.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для непрерывного мониторинга
                                состава и количества вредных веществ
                                в атмосфере, и последующего прогнозирования
                                действий персонала в аварийных ситуациях.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
    section.section.section--bg-gray.how-we-work(style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);")
        .box
            .heading как мы работаем
            .how-we-work__inner
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut2-how-work1.png")
                        .how-we-work__count 1
                    .how-we-work__data
                        .how-we-work__header.
                            Мы знакомимся с вашими
                            процессами и совместно
                            определяем объекты и процессы
                            автоматизации
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut2-how-work2.png")
                        .how-we-work__count 2
                    .how-we-work__data
                        .how-we-work__header.
                            Наши специалисты анализируют
                            и оценивают реализацию
                            проекта с использованием
                            технологий Internet of things.
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut2-how-work3.png")
                        .how-we-work__count 3
                    .how-we-work__data
                        .how-we-work__header.
                            Мы разрабатываем
                            реализации идеи,
                            определяем этапы и стоимость
                            услуг разработки.
    section.section.section--bg-red.team-project.team-project--solution2.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project1.png')
                    .team-project__content
                        .team-project__item-name возможность управления
                        .team-project__item-title Расширенные возможности управления и аналитики данных
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project2.png')
                    .team-project__content
                        .team-project__item-name Оптимальные сроки внедрения
                        .team-project__item-title.
                            Опыт работы в сфере IT более 10 лет позволяет
                            нам оперативно создавать и внедрять
                            разработанные системы
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project3.png')
                    .team-project__content
                        .team-project__item-name Масштабируемость
                        .team-project__item-title.
                            Обеспечивается масштабируемость
                            вычислений в системах «устройства-облако»
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project4.png')
                    .team-project__content
                        .team-project__item-name Минимизация рисков
                        .team-project__item-title.
                            Наша команда обладает широкими экспертными
                            знаниями в области IoT
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project5.png')
                    .team-project__content
                        .team-project__item-name Безопасность
                        .team-project__item-title.
                            Обеспечение высокого уровня безопасности
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project6.png')
                    .team-project__content
                        .team-project__item-name Сочетание цена/качество
                        .team-project__item-title Благодаря объединению Ваших знаний рынка и нашего опыта в области разработки
    section.section.section--bg-gray.other-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading.heading--small-mobile!= 'другие компетенции <span> novacom </span>'
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);")
                            .solut-services__name заказная разработка <br> информационных <br> систем
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);")
                            .solut-services__name электронное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);")
                            .solut-services__name прикладное программирование
                            .btn.btn--white-red  подробнее
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading задайте вопрос прямо сейчас
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
