resources/assets/index/pages/solutions1-1.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution11.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading.heading--sloution1-1!=  'Высоконагруженные <br>  информационные системы '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Создаем масштабируемые и отказоустойчивые системы для отраслей и предприятий.'
block main
    .solution-preview
        .box
            .solution-preview__inner.solution-preview__inner--3cell
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution11-head1.png')
                    .solution-preview__name Большое количество одновременных обращений

                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution11-head2.png')
                    .solution-preview__name Обработка и хранение больших объемов информации


                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution11-head3.png')
                    .solution-preview__name Организация взаимодействия между  различными информационными системами

    section.section(style="background-image: url(../assets/index/images/shadow__heading-discription.png);")
        .box
            .heading описание
            .section__content.
                Разработка информационных систем на заказ используется для решения уникальных задач, требующих создания совершенно новых решений с нуля. Специалисты компании владеют не только последними технологиями и языками программирования, но имеют экспертизу и опыт в отдельных индустриях – органах государственного управления, разветвленных холдинговых структурах, производственных предприятиях.

    section.section.section--solution-block.section--bg-gray
        .box
            .solution__header Подходы к реализации
            ul.solution__list
                li.solution__item Использование Open Source технологий и платформ мировых производителей
                li.solution__item Использование электронной цифровой подписи
                li.solution__item Аттестация информационных систем
                li.solution__item Мгновенная обработка миллионных трансакций
                li.solution__item  Обеспечение безопасности передачи и хранения информации
    section.section.participation-assoc
        .box
            .solution__header Используем платформы
            .participation-assoc__inner.participation-assoc__inner--4cell
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span операционные системы:
                        span Linux, Windows
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span Языки программирования:
                        span PHP, .NET, Java, JavaScript, Python, Ruby
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span Базы данных:
                        span Oracle, MS SQL, MySQL, PostgreSQL, Firebird
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span интеграция:
                        span 1С, MS CRM, SAP и иными системами
    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile Ознакомьтесь с нашими проектами
            .view-our-project__inner
                .view-our-projects__slider.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project1.jpg")
                        .view-our-project__data
                            .view-our-project__header eVAT
                            .view-our-project__content.
                                инструмент налогового администрирования, обеспечивающий
                                автоматизацию процесса контроля за необоснованным использованием
                                налоговых вычетов по НДС и правильным отражением налоговой
                                базы НДС в декларациях по НДС
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project2.jpg")
                        .view-our-project__data
                            .view-our-project__header Архив ФСЗН
                            .view-our-project__content.
                                Автоматизированная система управления электронным архивом,
                                с помощью которой можно вести учёт поступления документов,
                                долговременно хранить их, а также осуществлять поиск в электронном
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью



    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients.slid-clients--solution
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg)")
        .section__inner
            .box
                .heading Подходы к разработке
                .part-of-team__tittle
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы
                    li.part-of-team__item
                        .part-of-team__header.
                            Выделенные проектные команды,
                            объединяющие техническую и отраслевую
                            экспертизу
                    li.part-of-team__item
                        .part-of-team__header.
                            Использование Learn и Agile подходов
                            в работах проектных команд
                    li.part-of-team__item
                        .part-of-team__header.
                            Соблюдение сроков и договорных
                            условий

    section.section.section--bg-gray.how-we-work(style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);")
        .box
            .heading как мы работаем
            .how-we-work__inner
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items1.png")
                        .how-we-work__count 1
                    .how-we-work__data
                        .how-we-work__header Установление контакта
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items2.png")
                        .how-we-work__count 2
                    .how-we-work__data
                        .how-we-work__header Определение задачи
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items3.png")
                        .how-we-work__count 3
                    .how-we-work__data
                        .how-we-work__header!=  'Сбор информации <br> о текущих процессах'
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items6.png")
                        .how-we-work__count 6
                    .how-we-work__data
                        .how-we-work__header.
                            Техническое и гарантийное
                            обслуживание
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items5.png")
                        .how-we-work__count 5
                    .how-we-work__data
                        .how-we-work__header.
                            Заключение контракта и
                            формирование технического задания
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items4.png")
                        .how-we-work__count 4
                    .how-we-work__data
                        .how-we-work__header.
                            Технический анализ
                            и коммерческое предложение


    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile запросить дополнительную <br> информацию
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

public/markup/solutions1-1.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution11.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading heading--sloution1-1">Высоконагруженные <br>  информационные системы </h1>
          <div class="prewiews__content prewiews__content--small-solutions"><span>Создаем масштабируемые и отказоустойчивые системы для отраслей и предприятий.</span></div>
        </div>
      </div>
      <main class="main">
        <div class="solution-preview">
          <div class="box">
            <div class="solution-preview__inner solution-preview__inner--3cell">
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution11-head1.png"></div>
                <div class="solution-preview__name">Большое количество одновременных обращений</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution11-head2.png"></div>
                <div class="solution-preview__name">Обработка и хранение больших объемов информации</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution11-head3.png"></div>
                <div class="solution-preview__name">Организация взаимодействия между  различными информационными системами</div>
              </div>
            </div>
          </div>
        </div>
        <section class="section" style="background-image: url(../assets/index/images/shadow__heading-discription.png);">
          <div class="box">
            <div class="heading">описание</div>
            <div class="section__content">
              Разработка информационных систем на заказ используется для решения уникальных задач, требующих создания совершенно новых решений с нуля. Специалисты компании владеют не только последними технологиями и языками программирования, но имеют экспертизу и опыт в отдельных индустриях – органах государственного управления, разветвленных холдинговых структурах, производственных предприятиях.
              
            </div>
          </div>
        </section>
        <section class="section section--solution-block section--bg-gray">
          <div class="box">
            <div class="solution__header">Подходы к реализации</div>
            <ul class="solution__list">
              <li class="solution__item">Использование Open Source технологий и платформ мировых производителей</li>
              <li class="solution__item">Использование электронной цифровой подписи</li>
              <li class="solution__item">Аттестация информационных систем</li>
              <li class="solution__item">Мгновенная обработка миллионных трансакций</li>
              <li class="solution__item"> Обеспечение безопасности передачи и хранения информации</li>
            </ul>
          </div>
        </section>
        <section class="section participation-assoc">
          <div class="box">
            <div class="solution__header">Используем платформы</div>
            <div class="participation-assoc__inner participation-assoc__inner--4cell">
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item"><span>операционные системы:</span><span>Linux, Windows</span></div>
              </div>
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item"><span>Языки программирования:</span><span>PHP, .NET, Java, JavaScript, Python, Ruby</span></div>
              </div>
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item"><span>Базы данных:</span><span>Oracle, MS SQL, MySQL, PostgreSQL, Firebird</span></div>
              </div>
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item"><span>интеграция:</span><span>1С, MS CRM, SAP и иными системами</span></div>
              </div>
            </div>
          </div>
        </section>
        <div class="small-news-slider owl-carousel"><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">8 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">10 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">12 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a></div>
        <section class="section view-our-project section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);">
          <div class="box">
            <div class="heading heading--small-mobile">Ознакомьтесь с нашими проектами</div>
            <div class="view-our-project__inner">
              <div class="view-our-projects__slider owl-carousel">
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project1.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">eVAT</div>
                    <div class="view-our-project__content">
                      инструмент налогового администрирования, обеспечивающий
                      автоматизацию процесса контроля за необоснованным использованием
                      налоговых вычетов по НДС и правильным отражением налоговой
                      базы НДС в декларациях по НДС
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project2.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Архив ФСЗН</div>
                    <div class="view-our-project__content">
                      Автоматизированная система управления электронным архивом,
                      с помощью которой можно вести учёт поступления документов,
                      долговременно хранить их, а также осуществлять поиск в электронном
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section g-klients" style="background-image: url(../assets/index/images/shadow__heading-clients.png);">
          <div class="box">
            <div class="heading">наши клиенты</div>
            <div class="g-klients__slider">
              <div class="slid-clients slid-clients--solution">
                <div class="slid-clients__inner owl-carousel">
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients1.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients2.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients3.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients4.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients5.png"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section part-of-team part-of-team--p-work bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-team-project.jpg);">
          <div class="section__inner">
            <div class="box">
              <div class="heading">Подходы к разработке</div>
              <div class="part-of-team__tittle"></div>
              <ul class="part-of-team__list">
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Выделенные проектные команды,
                    объединяющие техническую и отраслевую
                    экспертизу
                  </div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Использование Learn и Agile подходов
                    в работах проектных команд
                  </div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Соблюдение сроков и договорных
                    условий
                    
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray how-we-work" style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);">
          <div class="box">
            <div class="heading">как мы работаем</div>
            <div class="how-we-work__inner">
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work-solution11-items1.png">
                  <div class="how-we-work__count">1</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">Установление контакта</div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work-solution11-items2.png">
                  <div class="how-we-work__count">2</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">Определение задачи</div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work-solution11-items3.png">
                  <div class="how-we-work__count">3</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">Сбор информации <br> о текущих процессах</div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work-solution11-items6.png">
                  <div class="how-we-work__count">6</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Техническое и гарантийное
                    обслуживание
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work-solution11-items5.png">
                  <div class="how-we-work__count">5</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Заключение контракта и
                    формирование технического задания
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work-solution11-items4.png">
                  <div class="how-we-work__count">4</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Технический анализ
                    и коммерческое предложение
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading heading--small-mobile">запросить дополнительную <br> информацию</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
