public/markup/solutions3.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution3.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">электронное <br> взаимодействие</h1>
          <div class="prewiews__content prewiews__content--small-solutions"><span>Комплексные системы для внутреннего и внешнего взаимодействия обеспечивают  единое информационное поле для руководителей, сотрудников,поставщиков. Мы внедряем системы класса ECM (Enterprise Content Management), позволяющие управлять процессами и большими объемами информации, включая совместную работу и долговременное хранение. </span></div>
        </div>
      </div>
      <main class="main">
        <div class="solution-preview">
          <div class="box">
            <div class="solution-preview__inner">
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution3-head1.png"></div>
                <div class="solution-preview__name">
                  Быстрый обмен
                  информацией и
                  документами
                </div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution3-head2.png"></div>
                <div class="solution-preview__name">Совместная работа</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution3-head3.png"></div>
                <div class="solution-preview__name">
                  Контроль выполнения
                  задач
                </div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution3-head4.png"></div>
                <div class="solution-preview__name">
                  Единое хранилище
                  для всех документов
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="solution-circe">
          <div class="box">
            <div class="info-companu">
              <div class="info-companu__inner">
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution3-circle1.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header">
                    10 лет опыт работы
                    с системами электронного
                    документооборота
                  </div>
                </div>
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution3-circle2.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header">
                    Более 200 внедренных
                    проектов
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="section section--bg-gray solut-services" style="background-image: url(../assets/index/images/shadow__heading-services.png);">
          <div class="box">
            <div class="heading">услуги</div>
            <div class="solut-services__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution3-bg-services1.jpg);">
                    <div class="solut-services__name">
                      Управление бизнес-
                      процессами (workflow)
                    </div>
                    <div class="btn btn--white-red">подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution3-bg-services2.jpg);">
                    <div class="solut-services__name">
                      Электронный
                      документооборот
                      (docflow)
                    </div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution3-bg-services3.jpg);">
                    <div class="solut-services__name">Электронный архив</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section interaction" style="background-image: url(../assets/index/images/shadow__heading-implementation.png);">
          <div class="box">
            <div class="heading heading--small-mobile">Результаты внедрения</div>
            <div class="interaction__inner">
              <div class="interaction__item interaction__item--50">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution3-interaction1.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Структурированная система
                  для управления жизненных
                  циклов информации и документов
                </div>
              </div>
              <div class="interaction__item interaction__item--50">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution3-interaction2.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Оперативный процесс
                  согласования с возможностью
                  удаленной работы
                </div>
              </div>
              <div class="interaction__item interaction__item--50">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution3-interaction3.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Соответствие регламентам,
                  бизнес-процессам, требованиям
                  законодательства
                </div>
              </div>
              <div class="interaction__item interaction__item--50">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution3-interaction4.png"></div>
                  </div>
                </div>
                <div class="interaction__name">
                  Сохранение юридической
                  значимости документов
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray solut-technologi" style="background-image: url(../assets/index/images/shadow__heading-technological.png);">
          <div class="box">
            <div class="heading">технологии</div>
            <div class="solut-technologi__inner">
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-filenet.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-opentext.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-direcrim.png"></div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red team-project team-project--solution21 bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);">
          <div class="box">
            <div class="heading heading--small-mobile">Преимущества</div>
            <div class="team-project__inner">
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions3-project1.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Быстрый и удобный <br>
                    поиск информации
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions3-project2.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Возможность создавать удаленные <br>
                    офисы без привязки к рабочим <br>
                    местам с сохранением функций <br>
                    планирования и контроля
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions3-project3.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Совместная и последовательная <br>
                    работа с контентом с сохранением <br>
                    истории версий документов
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions3-project4.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Единое и длительное хранение <br>
                    контента и документов
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions3-project5.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Работа на десктопах и <br>
                    мобильных устройствах
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions3-project6.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Использование электронной <br>
                    цифровой подписи
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray how-we-work" style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);">
          <div class="box">
            <div class="heading">как мы работаем</div>
            <div class="how-we-work__inner">
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut3-how-work1.png">
                  <div class="how-we-work__count">1</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Проведение аудита текущих <br>
                    процессов
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut3-how-work2.png">
                  <div class="how-we-work__count">2</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Выбор платформы для <br>
                    автоматизации и предварительный
                    расчёт бюджета
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut3-how-work3.png">
                  <div class="how-we-work__count">3</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Создание карты оптимального <br>
                    взаимодействия и подготовка <br>
                    технического задания
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut3-how-work4.png">
                  <div class="how-we-work__count">6</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Масштабирование системы, <br>
                    обучение пользователей, <br>
                    техническое сопровождение
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut3-how-work5.png">
                  <div class="how-we-work__count">5</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Тестирование системы на одном <br>
                    подразделении либо процессе
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-solut3-how-work6.png">
                  <div class="how-we-work__count">4</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Доработка системы под <br>
                    бизнес-процессы и требования
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section g-otzivi section--bg-red" style="background-image: url(../assets/index/images/shadow__heading-reviews.png);">
          <div class="box">
            <div class="heading">отзывы клиентов</div>
            <div class="g-otzivi__slider">
              <div class="slider-otziv">
                <div class="owl-carousel slider-otziv__inner">
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray other-industry" style="background-image: url(../assets/index/images/shadow__heading-industry.png);">
          <div class="box">
            <div class="heading heading--small-mobile">другие компетенции <span> novacom </span></div>
            <div class="solut-services__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);">
                    <div class="solut-services__name">промышленный интернет вещей</div>
                    <div class="btn btn--white-red">подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);">
                    <div class="solut-services__name">электронное взаимодействие</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);">
                    <div class="solut-services__name">прикладное программирование</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">Заказать аудит процессов</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/solutions3.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution3.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'электронное <br> взаимодействие'
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Комплексные системы для внутреннего и внешнего взаимодействия обеспечивают  единое информационное поле для руководителей, сотрудников,поставщиков. Мы внедряем системы класса ECM (Enterprise Content Management), позволяющие управлять процессами и большими объемами информации, включая совместную работу и долговременное хранение. '
block main
    .solution-preview
        .box
            .solution-preview__inner
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution3-head1.png')
                    .solution-preview__name.
                        Быстрый обмен
                        информацией и
                        документами
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution3-head2.png')
                    .solution-preview__name.
                        Совместная работа
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution3-head3.png')
                    .solution-preview__name.
                        Контроль выполнения
                        задач
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution3-head4.png')
                    .solution-preview__name.
                        Единое хранилище
                        для всех документов
    .solution-circe
        .box
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution3-circle1.png")
                        .info-companu__header.
                            10 лет опыт работы
                            с системами электронного
                            документооборота
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution3-circle2.png")
                        .info-companu__header.
                            Более 200 внедренных
                            проектов
    section.section.section--bg-gray.solut-services(style="background-image: url(../assets/index/images/shadow__heading-services.png);")
        .box
            .heading услуги
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution3-bg-services1.jpg);")
                            .solut-services__name.
                                Управление бизнес-
                                процессами (workflow)
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution3-bg-services2.jpg);")
                            .solut-services__name.
                                Электронный
                                документооборот
                                (docflow)
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution3-bg-services3.jpg);")
                            .solut-services__name.
                                Электронный архив
                            .btn.btn--white-red  подробнее
    section.section.interaction(style="background-image: url(../assets/index/images/shadow__heading-implementation.png);")
        .box
            .heading.heading--small-mobile Результаты внедрения
            .interaction__inner
                .interaction__item.interaction__item--50
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                    img(src= p_img + "ico-solution3-interaction1.png")
                    .interaction__name.
                        Структурированная система
                        для управления жизненных
                        циклов информации и документов
                .interaction__item.interaction__item--50
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solution3-interaction2.png")
                    .interaction__name.
                        Оперативный процесс
                        согласования с возможностью
                        удаленной работы
                .interaction__item.interaction__item--50
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solution3-interaction3.png")
                    .interaction__name.
                        Соответствие регламентам,
                        бизнес-процессам, требованиям
                        законодательства
                .interaction__item.interaction__item--50
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solution3-interaction4.png")
                    .interaction__name.
                        Сохранение юридической
                        значимости документов
    section.section.section--bg-gray.solut-technologi(style="background-image: url(../assets/index/images/shadow__heading-technological.png);")
        .box
            .heading технологии
            .solut-technologi__inner
                .solut-technologi__item
                    img(src=p_img + "ico-project-filenet.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-opentext.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-direcrim.png")
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project1.png')
                    .team-project__content
                        .team-project__item-title.
                            Быстрый и удобный <br>
                            поиск информации
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project2.png')
                    .team-project__content
                        .team-project__item-title.
                            Возможность создавать удаленные <br>
                            офисы без привязки к рабочим <br>
                            местам с сохранением функций <br>
                            планирования и контроля
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project3.png')
                    .team-project__content
                        .team-project__item-title.
                            Совместная и последовательная <br>
                            работа с контентом с сохранением <br>
                            истории версий документов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project4.png')
                    .team-project__content
                        .team-project__item-title.
                            Единое и длительное хранение <br>
                            контента и документов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project5.png')
                    .team-project__content
                        .team-project__item-title.
                            Работа на десктопах и <br>
                            мобильных устройствах
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project6.png')
                    .team-project__content
                        .team-project__item-title.
                            Использование электронной <br>
                            цифровой подписи
    section.section.section--bg-gray.how-we-work(style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);")
        .box
            .heading как мы работаем
            .how-we-work__inner
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work1.png")
                        .how-we-work__count 1
                    .how-we-work__data
                        .how-we-work__header.
                            Проведение аудита текущих <br>
                            процессов
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work2.png")
                        .how-we-work__count 2
                    .how-we-work__data
                        .how-we-work__header.
                            Выбор платформы для <br>
                            автоматизации и предварительный
                            расчёт бюджета
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work3.png")
                        .how-we-work__count 3
                    .how-we-work__data
                        .how-we-work__header.
                            Создание карты оптимального <br>
                            взаимодействия и подготовка <br>
                            технического задания
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work4.png")
                        .how-we-work__count 6
                    .how-we-work__data
                        .how-we-work__header.
                            Масштабирование системы, <br>
                            обучение пользователей, <br>
                            техническое сопровождение
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work5.png")
                        .how-we-work__count 5
                    .how-we-work__data
                        .how-we-work__header.
                            Тестирование системы на одном <br>
                            подразделении либо процессе
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work6.png")
                        .how-we-work__count 4
                    .how-we-work__data
                        .how-we-work__header.
                            Доработка системы под <br>
                            бизнес-процессы и требования


    section.section.g-otzivi.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reviews.png);")
        .box
            .heading отзывы клиентов
            .g-otzivi__slider
                .slider-otziv
                    .owl-carousel.slider-otziv__inner
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь
                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект
                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
    section.section.section--bg-gray.other-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading.heading--small-mobile!= 'другие компетенции <span> novacom </span>'
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);")
                            .solut-services__name промышленный интернет вещей
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);")
                            .solut-services__name электронное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);")
                            .solut-services__name прикладное программирование
                            .btn.btn--white-red  подробнее
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading Заказать аудит процессов
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
