public/markup/solutions4.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution4.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">Электронная коммерция <br> (e-commerce)</h1>
          <div class="prewiews__content prewiews__content--small-solutions"><span>Мы предлагаем разработанные платформы для электронного обмена информацией (EDI) и электронной торговли (e-trade).  Решения позволяют осуществлять торговые сделки онлайн с проведением финансовых транзакций и обменом электронными документами.  </span></div>
        </div>
      </div>
      <main class="main">
        <div class="solution-preview">
          <div class="box">
            <div class="solution-preview__inner solution-preview__inner--3cell">
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution4-head1.png"></div>
                <div class="solution-preview__name">Платформа для <br> вашего бизнеса</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution4-head2.png"></div>
                <div class="solution-preview__name">Готовое решение</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution4-head3.png"></div>
                <div class="solution-preview__name">Быстрый запуск</div>
              </div>
            </div>
          </div>
        </div>
        <section class="section section--bg-gray solut-services" style="background-image: url(../assets/index/images/shadow__heading-services.png);">
          <div class="box">
            <div class="heading">услуги</div>
            <div class="solut-services__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution4-bg-services1.jpg);">
                    <div class="solut-services__name">латформа EDI</div>
                    <div class="btn btn--white-red">подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution4-bg-services2.jpg);">
                    <div class="solut-services__name">электронная торговая <br> площадка</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red team-project team-project--solution21 bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);">
          <div class="box">
            <div class="heading heading--small-mobile">Преимущества платформы</div>
            <div class="team-project__inner">
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions4-project1.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Рост бизнеса за счет <br>
                    повышения лояльности
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions4-project2.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Расширение географии <br>
                    клиентов
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions4-project3.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Мультиканальное решение, <br>
                    интегрируемое с корпоративными <br>
                    и платежными системами
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions4-project4.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Работает в сегментах <br>
                    B2B, B2C, B2G
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions4-project5.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Оперативные и  <br>
                    удобные транзакции
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions4-project6.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Защита информации <br>
                    и данных
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section g-otzivi section--bg-red" style="background-image: url(../assets/index/images/shadow__heading-reviews.png);">
          <div class="box">
            <div class="heading">отзывы клиентов</div>
            <div class="g-otzivi__slider">
              <div class="slider-otziv">
                <div class="owl-carousel slider-otziv__inner">
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb-solution4.png"></div>
                      <div class="slider-otziv__header">И.Н. Ладутенко</div>
                      <div class="slider-otziv__tittle">Первый заместитель директора</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      В ходе реализации проекта ООО
                      «Управляющая компания холдинга
                      «Новаком Групп» проявила себя как надёжная
                      компания, использующая отлаженные
                      процессы проектирования, разработки,
                      документирования, внедрения и
                      сопровождения решений любого масштаба
                      и уровня сложности, способная организовать
                      работы над проектом в условиях сжатых
                      сроков.
                      
                    </div>
                  </div>
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray other-industry" style="background-image: url(../assets/index/images/shadow__heading-industry.png);">
          <div class="box">
            <div class="heading heading--small-mobile">другие компетенции <span> novacom </span></div>
            <div class="solut-services__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);">
                    <div class="solut-services__name">заказная разработка <br> информационных систем</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);">
                    <div class="solut-services__name">электронное взаимодействие</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);">
                    <div class="solut-services__name">промышленный <br> интернет вещей</div>
                    <div class="btn btn--white-red">подробнее</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading heading--small-mobile">заказать демонстрацию <br> платформы</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/solutions4.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution4.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'Электронная коммерция <br> (e-commerce)'
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Мы предлагаем разработанные платформы для электронного обмена информацией (EDI) и электронной торговли (e-trade).  Решения позволяют осуществлять торговые сделки онлайн с проведением финансовых транзакций и обменом электронными документами.  '
block main
    .solution-preview
        .box
            .solution-preview__inner.solution-preview__inner--3cell
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution4-head1.png')
                    .solution-preview__name Платформа для <br> вашего бизнеса
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution4-head2.png')
                    .solution-preview__name Готовое решение
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution4-head3.png')
                    .solution-preview__name Быстрый запуск
    section.section.section--bg-gray.solut-services(style="background-image: url(../assets/index/images/shadow__heading-services.png);")
        .box
            .heading услуги
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution4-bg-services1.jpg);")
                            .solut-services__name латформа EDI
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution4-bg-services2.jpg);")
                            .solut-services__name электронная торговая <br> площадка
                            .btn.btn--white-red  подробнее
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества платформы
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project1.png')
                    .team-project__content
                        .team-project__item-title.
                            Рост бизнеса за счет <br>
                            повышения лояльности
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project2.png')
                    .team-project__content
                        .team-project__item-title.
                            Расширение географии <br>
                            клиентов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project3.png')
                    .team-project__content
                        .team-project__item-title.
                            Мультиканальное решение, <br>
                            интегрируемое с корпоративными <br>
                            и платежными системами
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project4.png')
                    .team-project__content
                        .team-project__item-title.
                            Работает в сегментах <br>
                            B2B, B2C, B2G
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project5.png')
                    .team-project__content
                        .team-project__item-title.
                            Оперативные и  <br>
                            удобные транзакции
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project6.png')
                    .team-project__content
                        .team-project__item-title.
                            Защита информации <br>
                            и данных
    section.section.g-otzivi.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reviews.png);")
        .box
            .heading отзывы клиентов
            .g-otzivi__slider
                .slider-otziv
                    .owl-carousel.slider-otziv__inner
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb-solution4.png")
                                .slider-otziv__header И.Н. Ладутенко
                                .slider-otziv__tittle Первый заместитель директора

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                В ходе реализации проекта ООО
                                «Управляющая компания холдинга
                                «Новаком Групп» проявила себя как надёжная
                                компания, использующая отлаженные
                                процессы проектирования, разработки,
                                документирования, внедрения и
                                сопровождения решений любого масштаба
                                и уровня сложности, способная организовать
                                работы над проектом в условиях сжатых
                                сроков.

                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь
                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект
                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
    section.section.section--bg-gray.other-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading.heading--small-mobile!= 'другие компетенции <span> novacom </span>'
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);")
                            .solut-services__name заказная разработка <br> информационных систем
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);")
                            .solut-services__name электронное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);")
                            .solut-services__name промышленный <br> интернет вещей
                            .btn.btn--white-red подробнее
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile заказать демонстрацию <br> платформы
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
