resources/assets/index/pages/solutions3-1.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution3-1.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'Управление бизнес- <br> процессами (workflow)  '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Структурируем деловые процессы предприятий, иерархических и территориально-распределенных структур.'
block main
    .solution-preview
        .box
            .solution-preview__inner
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution31-head1.png')
                    .solution-preview__name Создаем удобный и понятный механизм взаимодействия
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution31-head2.png')
                    .solution-preview__name Обеспечиваем совместную работу над задачами
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution31-head3.png')
                    .solution-preview__name Производим контроль исполнения заданий

                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution31-head4.png')
                    .solution-preview__name Обеспечиваем быстрый запуск новых бизнес-процессов
    section.section(style="background-image: url(../assets/index/images/shadow__heading-discription.png);")
        .box
            .heading описание
            .section__content.
                Создаваемые нами workflow системы позволяют упорядочить, структурировать и автоматизировать процессы и задания, выполняемые последовательно либо параллельно отдельными подразделениями, либо участниками рабочих групп. Возможности систем позволяют управлять потоком операций и контролировать процессы, что обеспечивает быстрое и эффективное достижение планируемого результата.

    section.section.section--solution-block.section--bg-gray
        .box
            .solution__header Подходы к реализации
            ul.solution__list
                li.solution__item Адаптация под индустрии и предприятия
                li.solution__item.
                    Гибкие настройки при введение новых
                    либо изменении текущих процессов
                li.solution__item.
                    Централизованное хранение информации
                li.solution__item.
                    Разграничение прав доступа и обеспечение
                    информационной безопасности
                li.solution__item.
                    Организация как регламентированных, так и свободных
                    процессов взаимодействия между сотрудниками при
                    совместной работе
                li.solution__item.
                    Гарантированная и оперативная доставка информации
                    участникам процесса
                li.solution__item.
                    Высокая масштабируемость по одновременно
                    работающим пользователям, объемам задач и типам
                    документов, объемам баз данных
    section.section.participation-assoc
        .box
            .solution__header платформы и технологии
            .participation-assoc__inner.participation-assoc__inner--platform
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span Выбор базовой платформы :
                        span Linux, Windows
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span Базы данных:
                        span  Oracle, MS SQL, MySQL, PostgreSQL, Firebird
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span интеграция:
                        span  1С, MS CRM, SAP и иными системами
    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project1.png')
                    .team-project__content
                        .team-project__item-title.
                            Повышение исполнительской <br>
                            дисциплины
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project2.png')
                    .team-project__content
                        .team-project__item-title.
                            Эффективное взаимодействие <br>
                            сотрудников при работе  <br>
                            над задачами
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project3.png')
                    .team-project__content
                        .team-project__item-title.
                            Оперативная работа <br>
                            над сложными и рутинными <br>
                            процессами
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project4.png')
                    .team-project__content
                        .team-project__item-title.
                            Оперативный поиск и анализ <br>
                            информации по основным процессам
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project5.png')
                    .team-project__content
                        .team-project__item-title.
                            Соблюдение законодательных <br>
                            и корпоративных требований
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project6.png')
                    .team-project__content
                        .team-project__item-title.
                            Сокращение времени на <br>
                            выполнение операций
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile Ознакомьтесь с нашими проектами
            .view-our-project__inner
                .view-our-projects__slider-3cell.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-1.jpg")
                        .view-our-project__data
                            .view-our-project__header Система контроля кассового оборудования
                            .view-our-project__content.
                                Система обеспечивает сбор информации
                                об оплате товаров и услуг через кассы
                                и иные платежные терминалы в режиме
                                реального времени, их хранение и анализ.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-2.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для сбора данных
                                с приборов учета различных производителей,
                                анализа отклонений и контроля их
                                использования
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-3.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для непрерывного мониторинга
                                состава и количества вредных веществ
                                в атмосфере, и последующего прогнозирования
                                действий персонала в аварийных ситуациях.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients.slid-clients--solution
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg)")
        .section__inner
            .box
                .heading Подходы к разработке
                .part-of-team__tittle
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Глубокая проработка и экспертиза отраслевых процессов
                    li.part-of-team__item
                        .part-of-team__header.
                            Высокая производительность
                    li.part-of-team__item
                        .part-of-team__header.
                            Надежность и отказоустойчивость систем
                    li.part-of-team__item
                        .part-of-team__header.
                            Широкие интеграционные возможности
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile Заказать демонстрацию <br> решения
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

public/markup/solutions3-1.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution3-1.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">Управление бизнес- <br> процессами (workflow)  </h1>
          <div class="prewiews__content prewiews__content--small-solutions"><span>Структурируем деловые процессы предприятий, иерархических и территориально-распределенных структур.</span></div>
        </div>
      </div>
      <main class="main">
        <div class="solution-preview">
          <div class="box">
            <div class="solution-preview__inner">
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution31-head1.png"></div>
                <div class="solution-preview__name">Создаем удобный и понятный механизм взаимодействия</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution31-head2.png"></div>
                <div class="solution-preview__name">Обеспечиваем совместную работу над задачами</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution31-head3.png"></div>
                <div class="solution-preview__name">Производим контроль исполнения заданий</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution31-head4.png"></div>
                <div class="solution-preview__name">Обеспечиваем быстрый запуск новых бизнес-процессов</div>
              </div>
            </div>
          </div>
        </div>
        <section class="section" style="background-image: url(../assets/index/images/shadow__heading-discription.png);">
          <div class="box">
            <div class="heading">описание</div>
            <div class="section__content">
              Создаваемые нами workflow системы позволяют упорядочить, структурировать и автоматизировать процессы и задания, выполняемые последовательно либо параллельно отдельными подразделениями, либо участниками рабочих групп. Возможности систем позволяют управлять потоком операций и контролировать процессы, что обеспечивает быстрое и эффективное достижение планируемого результата.
              
            </div>
          </div>
        </section>
        <section class="section section--solution-block section--bg-gray">
          <div class="box">
            <div class="solution__header">Подходы к реализации</div>
            <ul class="solution__list">
              <li class="solution__item">Адаптация под индустрии и предприятия</li>
              <li class="solution__item">
                Гибкие настройки при введение новых
                либо изменении текущих процессов
              </li>
              <li class="solution__item">Централизованное хранение информации</li>
              <li class="solution__item">
                Разграничение прав доступа и обеспечение
                информационной безопасности
              </li>
              <li class="solution__item">
                Организация как регламентированных, так и свободных
                процессов взаимодействия между сотрудниками при
                совместной работе
              </li>
              <li class="solution__item">
                Гарантированная и оперативная доставка информации
                участникам процесса
              </li>
              <li class="solution__item">
                Высокая масштабируемость по одновременно
                работающим пользователям, объемам задач и типам
                документов, объемам баз данных
              </li>
            </ul>
          </div>
        </section>
        <section class="section participation-assoc">
          <div class="box">
            <div class="solution__header">платформы и технологии</div>
            <div class="participation-assoc__inner participation-assoc__inner--platform">
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item"><span>Выбор базовой платформы :</span><span>Linux, Windows</span></div>
              </div>
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item"><span>Базы данных:</span><span> Oracle, MS SQL, MySQL, PostgreSQL, Firebird</span></div>
              </div>
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item"><span>интеграция:</span><span> 1С, MS CRM, SAP и иными системами</span></div>
              </div>
            </div>
          </div>
        </section>
        <div class="small-news-slider owl-carousel"><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">8 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">10 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">12 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a></div>
        <section class="section section--bg-red team-project team-project--solution21 bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);">
          <div class="box">
            <div class="heading heading--small-mobile">Преимущества</div>
            <div class="team-project__inner">
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions31-project1.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Повышение исполнительской <br>
                    дисциплины
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions31-project2.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Эффективное взаимодействие <br>
                    сотрудников при работе  <br>
                    над задачами
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions31-project3.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Оперативная работа <br>
                    над сложными и рутинными <br>
                    процессами
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions31-project4.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Оперативный поиск и анализ <br>
                    информации по основным процессам
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions31-project5.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Соблюдение законодательных <br>
                    и корпоративных требований
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions31-project6.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Сокращение времени на <br>
                    выполнение операций
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section view-our-project section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);">
          <div class="box">
            <div class="heading heading--small-mobile">Ознакомьтесь с нашими проектами</div>
            <div class="view-our-project__inner">
              <div class="view-our-projects__slider-3cell owl-carousel">
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-1.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система контроля кассового оборудования</div>
                    <div class="view-our-project__content">
                      Система обеспечивает сбор информации
                      об оплате товаров и услуг через кассы
                      и иные платежные терминалы в режиме
                      реального времени, их хранение и анализ.
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-2.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система учета энергоресурсов</div>
                    <div class="view-our-project__content">
                      Предназначена для сбора данных
                      с приборов учета различных производителей,
                      анализа отклонений и контроля их
                      использования
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our-project-solut21-3.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Система учета энергоресурсов</div>
                    <div class="view-our-project__content">
                      Предназначена для непрерывного мониторинга
                      состава и количества вредных веществ
                      в атмосфере, и последующего прогнозирования
                      действий персонала в аварийных ситуациях.
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section g-klients" style="background-image: url(../assets/index/images/shadow__heading-clients.png);">
          <div class="box">
            <div class="heading">наши клиенты</div>
            <div class="g-klients__slider">
              <div class="slid-clients slid-clients--solution">
                <div class="slid-clients__inner owl-carousel">
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients1.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients2.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients3.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients4.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients5.png"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section part-of-team part-of-team--p-work bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-team-project.jpg);">
          <div class="section__inner">
            <div class="box">
              <div class="heading">Подходы к разработке</div>
              <div class="part-of-team__tittle"></div>
              <ul class="part-of-team__list">
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Глубокая проработка и экспертиза отраслевых процессов</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Высокая производительность</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Надежность и отказоустойчивость систем</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Широкие интеграционные возможности</div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading heading--small-mobile">Заказать демонстрацию <br> решения</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
