resources/assets/index/pages/solutions1.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution1.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'Заказная разработка <br> информационных систем '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Цифровая трансформация сегодня пронизывает все отрасли экономики -  от производства до сферы услуг. С помощью современных информационных технологий мы помогаем открывать возможности и выходить на новый уровень развития.'
block main
    .solution-preview
        .box
            .solution-preview__inner
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head1.png')
                    .solution-preview__name создаем точки роста
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head2.png')
                    .solution-preview__name упрощаем сложные  процессы
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head3.png')
                    .solution-preview__name внедряем инновационные технологии
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head4.png')
                    .solution-preview__name делаем комплексные проекты
    .solution-circe
        .box
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution1-circle1.png")
                        .info-companu__header Полный цикл разработки  и сопровождения
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution1-circle2.png")
                        .info-companu__header 10+ реализованных проектов отраслевого уровня
    section.section.section--bg-gray.solut-services(style="background-image: url(../assets/index/images/shadow__heading-services.png);")
        .box
            .heading услуги
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services1.jpg);")
                            .solut-services__name Высоконагруженные информационные системы
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services2.jpg);")
                            .solut-services__name Портальные и мобильные решения
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services3.jpg);")
                            .solut-services__name Реестр и единые базы данных
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services4.jpg);")
                            .solut-services__name Межведомственное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services5.jpg);")
                            .solut-services__name Электронное правительство
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services6.jpg);")
                            .solut-services__name Интеграционные и кроссплатформенные решения
                            .btn.btn--white-red  подробнее
    section.section.interaction(style="background-image: url(../assets/index/images/shadow__heading-interaction.png);")
        .box
            .heading.heading--small-mobile взаимодействие
            .interaction__inner
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                    img(src= p_img + "ico-interaction1.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction2.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction3.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction4.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction5.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction6.png")
                    .interaction__name G2G
    section.section.section--bg-gray.solut-technologi(style="background-image: url(../assets/index/images/shadow__heading-technological.png);")
        .box
            .heading технологии
            .solut-technologi__inner
                .solut-technologi__item
                    img(src=p_img + "ico-project-sql.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-MYsql.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-apache.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-cassandra.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-ibm.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-oracle.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-java.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-open-source.png")
    section.section.solut-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading отрасли
            .solut-industry__title!= 'Создание комплексных систем непременно сочетает экспертизу в области современных информационных технологий  и конкретной предметной среде. В данном случае разработчики непрерывно работают с внутренними либо привлекаемыми отраслевыми экспертами для создания кастомизированного решения. Реализованные проекты позволили нам накопить опыт и знания в следующих сферах:'
            .solut-industry__inner
                .grid
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution-industry1.jpg);")
                            .solut-industry__header Разработка решений для органов государственного управления
                            .solut-industry__content.
                                Оптимизация использования энергии,
                                создание безопасных городов
                                и умных домов, в котором
                                существующие ресурсы
                                используются наилучшим образом
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution-industry2.jpg);")
                            .solut-industry__header бизнес и промышленность
                            .solut-industry__content.
                                Оптимизация использования энергии,
                                создание безопасных городов
                                и умных домов, в котором
                                существующие ресурсы
                                используются наилучшим образом
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution-industry3.jpg);")
                            .solut-industry__header услуги
                            .solut-industry__content.
                                Оптимизация использования энергии,
                                создание безопасных городов
                                и умных домов, в котором
                                существующие ресурсы
                                используются наилучшим образом
    section.section.section--bg-gray.how-we-work(style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);")
        .box
            .heading как мы работаем
            .how-we-work__inner
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work1.png")
                        .how-we-work__count 1
                    .how-we-work__data
                        .how-we-work__header Установление контакта
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work2.png")
                        .how-we-work__count 2
                    .how-we-work__data
                        .how-we-work__header Определение задачи
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work3.png")
                        .how-we-work__count 3
                    .how-we-work__data
                        .how-we-work__header!=  'Сбор информации <br> о текущих процессах'
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work4.png")
                        .how-we-work__count 4
                    .how-we-work__data
                        .how-we-work__header.
                            Техническое и гарантийное
                            обслуживание
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work5.png")
                        .how-we-work__count 5
                    .how-we-work__data
                        .how-we-work__header.
                            Заключение контракта и
                            формирование технического задания
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work6.png")
                        .how-we-work__count 6
                    .how-we-work__data
                        .how-we-work__header.
                            Технический анализ
                            и коммерческое предложение


    section.section.g-otzivi.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reviews.png);")
        .box
            .heading отзывы клиентов
            .g-otzivi__slider
                .slider-otziv
                    .owl-carousel.slider-otziv__inner
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь
                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект
                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
    section.section.section--bg-gray.other-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading.heading--small-mobile!= 'другие компетенции <span> novacom </span>'
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);")
                            .solut-services__name промышленный интернет вещей
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);")
                            .solut-services__name электронное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);")
                            .solut-services__name прикладное программирование
                            .btn.btn--white-red  подробнее
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading задайте вопрос прямо сейчас
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

public/markup/solutions1.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution1.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">Заказная разработка <br> информационных систем </h1>
          <div class="prewiews__content prewiews__content--small-solutions"><span>Цифровая трансформация сегодня пронизывает все отрасли экономики -  от производства до сферы услуг. С помощью современных информационных технологий мы помогаем открывать возможности и выходить на новый уровень развития.</span></div>
        </div>
      </div>
      <main class="main">
        <div class="solution-preview">
          <div class="box">
            <div class="solution-preview__inner">
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution-head1.png"></div>
                <div class="solution-preview__name">создаем точки роста</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution-head2.png"></div>
                <div class="solution-preview__name">упрощаем сложные  процессы</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution-head3.png"></div>
                <div class="solution-preview__name">внедряем инновационные технологии</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution-head4.png"></div>
                <div class="solution-preview__name">делаем комплексные проекты</div>
              </div>
            </div>
          </div>
        </div>
        <div class="solution-circe">
          <div class="box">
            <div class="info-companu">
              <div class="info-companu__inner">
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution1-circle1.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header">Полный цикл разработки  и сопровождения</div>
                </div>
                <div class="info-companu__item">
                  <div class="info-companu__images-inner">
                    <div class="info-companu__first-circle">
                      <div class="info-companu__second-circle"><img src="../assets/index/images/ico-solution1-circle2.png"></div>
                    </div>
                  </div>
                  <div class="info-companu__header">10+ реализованных проектов отраслевого уровня</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="section section--bg-gray solut-services" style="background-image: url(../assets/index/images/shadow__heading-services.png);">
          <div class="box">
            <div class="heading">услуги</div>
            <div class="solut-services__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-services1.jpg);">
                    <div class="solut-services__name">Высоконагруженные информационные системы</div>
                    <div class="btn btn--white-red">подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-services2.jpg);">
                    <div class="solut-services__name">Портальные и мобильные решения</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-services3.jpg);">
                    <div class="solut-services__name">Реестр и единые базы данных</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-services4.jpg);">
                    <div class="solut-services__name">Межведомственное взаимодействие</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-services5.jpg);">
                    <div class="solut-services__name">Электронное правительство</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-services6.jpg);">
                    <div class="solut-services__name">Интеграционные и кроссплатформенные решения</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section interaction" style="background-image: url(../assets/index/images/shadow__heading-interaction.png);">
          <div class="box">
            <div class="heading heading--small-mobile">взаимодействие</div>
            <div class="interaction__inner">
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-interaction1.png"></div>
                  </div>
                </div>
                <div class="interaction__name">G2G</div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-interaction2.png"></div>
                  </div>
                </div>
                <div class="interaction__name">G2G</div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-interaction3.png"></div>
                  </div>
                </div>
                <div class="interaction__name">G2G</div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-interaction4.png"></div>
                  </div>
                </div>
                <div class="interaction__name">G2G</div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-interaction5.png"></div>
                  </div>
                </div>
                <div class="interaction__name">G2G</div>
              </div>
              <div class="interaction__item">
                <div class="interaction__images">
                  <div class="info-companu__first-circle">
                    <div class="info-companu__second-circle"><img src="../assets/index/images/ico-interaction6.png"></div>
                  </div>
                </div>
                <div class="interaction__name">G2G</div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray solut-technologi" style="background-image: url(../assets/index/images/shadow__heading-technological.png);">
          <div class="box">
            <div class="heading">технологии</div>
            <div class="solut-technologi__inner">
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-sql.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-MYsql.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-apache.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-cassandra.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-ibm.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-oracle.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-java.png"></div>
              <div class="solut-technologi__item"><img src="../assets/index/images/ico-project-open-source.png"></div>
            </div>
          </div>
        </section>
        <section class="section solut-industry" style="background-image: url(../assets/index/images/shadow__heading-industry.png);">
          <div class="box">
            <div class="heading">отрасли</div>
            <div class="solut-industry__title">Создание комплексных систем непременно сочетает экспертизу в области современных информационных технологий  и конкретной предметной среде. В данном случае разработчики непрерывно работают с внутренними либо привлекаемыми отраслевыми экспертами для создания кастомизированного решения. Реализованные проекты позволили нам накопить опыт и знания в следующих сферах:</div>
            <div class="solut-industry__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution-industry1.jpg);">
                    <div class="solut-industry__header">Разработка решений для органов государственного управления</div>
                    <div class="solut-industry__content">
                      Оптимизация использования энергии,
                      создание безопасных городов
                      и умных домов, в котором
                      существующие ресурсы
                      используются наилучшим образом
                    </div></a></div>
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution-industry2.jpg);">
                    <div class="solut-industry__header">бизнес и промышленность</div>
                    <div class="solut-industry__content">
                      Оптимизация использования энергии,
                      создание безопасных городов
                      и умных домов, в котором
                      существующие ресурсы
                      используются наилучшим образом
                    </div></a></div>
                <div class="grid__cell"><a class="solut-industry__item bg-layer bg-cover" href="#" style="background-image: url(../assets/index/images/solution-industry3.jpg);">
                    <div class="solut-industry__header">услуги</div>
                    <div class="solut-industry__content">
                      Оптимизация использования энергии,
                      создание безопасных городов
                      и умных домов, в котором
                      существующие ресурсы
                      используются наилучшим образом
                    </div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray how-we-work" style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);">
          <div class="box">
            <div class="heading">как мы работаем</div>
            <div class="how-we-work__inner">
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work1.png">
                  <div class="how-we-work__count">1</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">Установление контакта</div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work2.png">
                  <div class="how-we-work__count">2</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">Определение задачи</div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work3.png">
                  <div class="how-we-work__count">3</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">Сбор информации <br> о текущих процессах</div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work4.png">
                  <div class="how-we-work__count">4</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Техническое и гарантийное
                    обслуживание
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work5.png">
                  <div class="how-we-work__count">5</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Заключение контракта и
                    формирование технического задания
                  </div>
                </div>
              </div>
              <div class="how-we-work__item">
                <div class="how-we-work__images"><img src="../assets/index/images/ico-how-work6.png">
                  <div class="how-we-work__count">6</div>
                </div>
                <div class="how-we-work__data">
                  <div class="how-we-work__header">
                    Технический анализ
                    и коммерческое предложение
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section g-otzivi section--bg-red" style="background-image: url(../assets/index/images/shadow__heading-reviews.png);">
          <div class="box">
            <div class="heading">отзывы клиентов</div>
            <div class="g-otzivi__slider">
              <div class="slider-otziv">
                <div class="owl-carousel slider-otziv__inner">
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                  <div class="slider-otziv__item">
                    <div class="slider-otziv__data">
                      <div class="slider-otziv__images"><img src="../assets/index/images/otzivi-ico-rb.png"></div>
                      <div class="slider-otziv__header">Александр Лавринович</div>
                      <div class="slider-otziv__tittle">заместитель директора Министерства по налогам и сборам Республики Беларусь</div>
                      <div class="slider-otziv__btn"><a class="btn btn--black slider-otziv__btn" href="#">Посмотреть проект</a></div>
                    </div>
                    <div class="slider-otziv__content">
                      Благодаря интернет-ресурсу
                      Министерство по налогам и сборам
                      может вести единый перечень
                      физических лиц, ограниченных
                      в посещении игорных заведений,
                      а также обеспечивать доступ к нему
                      организаторам азартных игр,
                      контролирующим и правоохранительным
                      органам
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray other-industry" style="background-image: url(../assets/index/images/shadow__heading-industry.png);">
          <div class="box">
            <div class="heading heading--small-mobile">другие компетенции <span> novacom </span></div>
            <div class="solut-services__inner">
              <div class="grid">
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);">
                    <div class="solut-services__name">промышленный интернет вещей</div>
                    <div class="btn btn--white-red">подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);">
                    <div class="solut-services__name">электронное взаимодействие</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
                <div class="grid__cell"><a class="solut-services__item bg-cover bg-layer" href="#" style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);">
                    <div class="solut-services__name">прикладное программирование</div>
                    <div class="btn btn--white-red"> подробнее</div></a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">задайте вопрос прямо сейчас</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>
