public/markup/solutions4-1.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution4-1.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading heading--sloution1-1">Электронная торговая <br> площадка </h1>
          <div class="prewiews__content prewiews__content--small-solutions"><span>Решение является онлайн порталом для проведения торгов и аукционов в режиме реального времени</span></div>
        </div>
      </div>
      <main class="main">
        <div class="solution-preview solution-preview--solution41">
          <div class="box">
            <div class="solution-preview__header">актуально</div>
            <div class="solution-preview__inner solution-preview__inner--3cell">
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution41-head1.png"></div>
                <div class="solution-preview__name">Государству</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution41-head2.png"></div>
                <div class="solution-preview__name">Банкам</div>
              </div>
              <div class="solution-preview__item">
                <div class="solution-preview__images"><img src="../assets/index/images/ico-solution41-head3.png"></div>
                <div class="solution-preview__name">Крупным предприятиям и холдингам</div>
              </div>
            </div>
          </div>
        </div>
        <section class="section" style="background-image: url(../assets/index/images/shadow__heading-discription.png);">
          <div class="box">
            <div class="heading">описание</div>
            <div class="section__content">
              Решение позволяет продавцам и покупателям просто и быстро осуществлять сделки, проводить торги в режиме реального времени и обеспечивает выбор оптимального предложения и соотношения цена/качество. Знание регламентов и опыт внедрения торговых площадок позволяют нам адаптировать функционал решения под конкретные задачи.
              
            </div>
          </div>
        </section>
        <section class="section section--solution-block section--bg-gray">
          <div class="box">
            <div class="solution__header">Подходы к реализации</div>
            <ul class="solution__list">
              <li class="solution__item">
                Адаптация под бизнес-процесс заказчика
                и законодательство
              </li>
              <li class="solution__item">
                Использование электронной цифровой
                подписи (ЭЦП)
              </li>
              <li class="solution__item">
                Наличие базовой платформы позволяет
                сократить время на внедрение и итоговую
                стоимость
              </li>
              <li class="solution__item">
                Работа в наиболее распространенных браузерах
                (Internet Explorer, Google Chrome, Opera) и иных
              </li>
              <li class="solution__item">Возможна доработка дополнительных модулей</li>
              <li class="solution__item">Кастомизация под корпоративный стиль</li>
              <li class="solution__item">
                Коробочная версия либо использование по модели
                SaaS
              </li>
            </ul>
          </div>
        </section>
        <section class="section participation-assoc">
          <div class="box">
            <div class="solution__header">типы торгов</div>
            <div class="participation-assoc__inner participation-assoc__inner--2cell">
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item">
                  <div class="participation-assoc__name">Аукционы</div>
                  <ul class="participation-assoc__list">
                    <li>Коммерческие продажи произведенной продукции, услуг</li>
                    <li>Продажа и аренда недвижимости, земельных участков</li>
                    <li>Продажа залогового имущества, конфискованного товара</li>
                    <li>Продажа неликвидных товаров</li>
                  </ul>
                </div>
              </div>
              <div class="participation-assoc__item">
                <div class="participation-assoc__inner-item">
                  <div class="participation-assoc__name">закупки</div>
                  <ul class="participation-assoc__list">
                    <li>Государственные тендерные закупочные системы</li>
                    <li>Корпоративные ресурсы предприятий для проведения коммерческих закупок (сырье и материалы, товары, услуги)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="small-news-slider owl-carousel"><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">8 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">10 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a><a class="small-news" href="#">
            <div class="box">
              <div class="small-news__header">12 сентября состоится конференция “Открытые дни DIRECTUM”</div>
            </div></a></div>
        <section class="section section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-oportunity.png);">
          <div class="box">
            <div class="heading heading--small-mobile">Основные возможности</div>
            <ul class="solution__list">
              <li class="solution__item">
                Понижение либо повышение цены продажи товара
                либо услуги с шагом, определённым оператором
              </li>
              <li class="solution__item">
                Многоступенчатый отбор участников и минимизация
                рисков срыва аукционов: (аккредитация участников,
                регистрация на торги и т.п.)
              </li>
              <li class="solution__item">
                Блокирование сумм задатков и продажи на счетах
                участников
              </li>
              <li class="solution__item">Ограничение по времени на каждую ставку</li>
              <li class="solution__item">Использование торгового робота</li>
              <li class="solution__item">Публичные либо закрытые онлайн-торги</li>
              <li class="solution__item">Публикация результатов, ведение статистики</li>
            </ul>
          </div>
        </section>
        <section class="section section--bg-red team-project team-project--solution21 bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);">
          <div class="box">
            <div class="heading heading--small-mobile">Преимущества платформы</div>
            <div class="team-project__inner">
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions41-project1.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Экономит финансовые <br>
                    и временные ресурсы
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions41-project2.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Исключает фактор коррупции <br>
                    и предоставляет равные <br>
                    возможности всем участникам <br>
                    торгов
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions41-project3.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Отслеживает процедуры <br>
                    и регламенты <br>
                    (мониторинг сделок, графики <br>
                    платежей, поставок и т.п).
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions41-project4.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Расширяет географию <br>
                    участников
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions41-project5.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Обеспечивает максимальный <br>
                    охват участников
                  </div>
                </div>
              </div>
              <div class="team-project__item">
                <div class="team-project__images"><img src="../assets/index/images/ico-team-solutions41-project6.png"></div>
                <div class="team-project__content">
                  <div class="team-project__item-title">
                    Является эффективным <br>
                    инструментом маркетинга
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section view-our-project section--bg-gray" style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);">
          <div class="box">
            <div class="heading heading--small-mobile">Ознакомьтесь с нашими проектами</div>
            <div class="view-our-project__inner">
              <div class="view-our-projects__slider owl-carousel">
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our--solution41-project1.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">Минский городской центр недвижимости</div>
                    <div class="view-our-project__content">
                      инструмент налогового администрирования, обеспечивающий
                      автоматизацию процесса контроля за необоснованным использованием
                      налоговых вычетов по НДС и правильным отражением налоговой
                      базы НДС в декларациях по НДС
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
                <div class="view-our-project__item">
                  <div class="view-our-project__images"><img src="../assets/index/images/our--solution41-project2.jpg"></div>
                  <div class="view-our-project__data">
                    <div class="view-our-project__header">ТД Восточный</div>
                    <div class="view-our-project__content">
                      Автоматизированная система управления электронным архивом,
                      с помощью которой можно вести учёт поступления документов,
                      долговременно хранить их, а также осуществлять поиск в электронном
                    </div>
                    <div class="btn-inner"><a class="btn btn--small btn--black-red" href="#">читать полностью</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section g-klients" style="background-image: url(../assets/index/images/shadow__heading-clients.png);">
          <div class="box">
            <div class="heading">наши клиенты</div>
            <div class="g-klients__slider">
              <div class="slid-clients slid-clients--solution">
                <div class="slid-clients__inner owl-carousel">
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients1.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients2.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients3.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients4.png"></div>
                  <div class="slid-clients__item"><img src="../assets/index/images/ico-clients5.png"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section part-of-team part-of-team--p-work bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-team-project.jpg);">
          <div class="section__inner">
            <div class="box">
              <div class="heading">Подходы к разработке</div>
              <div class="part-of-team__tittle"></div>
              <ul class="part-of-team__list">
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Выделенные проектные команды,
                    объединяющие техническую и отраслевую
                    экспертизу
                  </div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Использование Learn и Agile подходов
                    в работах проектных команд
                  </div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">
                    Соблюдение сроков и договорных
                    условий
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading heading--small-mobile">запросить дополнительную <br> информацию</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/solutions4-1.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution4-1.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading.heading--sloution1-1!=  'Электронная торговая <br> площадка '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Решение является онлайн порталом для проведения торгов и аукционов в режиме реального времени'
block main
    .solution-preview.solution-preview--solution41
        .box
            .solution-preview__header актуально
            .solution-preview__inner.solution-preview__inner--3cell
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution41-head1.png')
                    .solution-preview__name Государству
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution41-head2.png')
                    .solution-preview__name Банкам
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution41-head3.png')
                    .solution-preview__name Крупным предприятиям и холдингам

    section.section(style="background-image: url(../assets/index/images/shadow__heading-discription.png);")
        .box
            .heading описание
            .section__content.
                Решение позволяет продавцам и покупателям просто и быстро осуществлять сделки, проводить торги в режиме реального времени и обеспечивает выбор оптимального предложения и соотношения цена/качество. Знание регламентов и опыт внедрения торговых площадок позволяют нам адаптировать функционал решения под конкретные задачи.

    section.section.section--solution-block.section--bg-gray
        .box
            .solution__header Подходы к реализации
            ul.solution__list
                li.solution__item.
                    Адаптация под бизнес-процесс заказчика
                    и законодательство
                li.solution__item.
                    Использование электронной цифровой
                    подписи (ЭЦП)
                li.solution__item.
                    Наличие базовой платформы позволяет
                    сократить время на внедрение и итоговую
                    стоимость
                li.solution__item.
                    Работа в наиболее распространенных браузерах
                    (Internet Explorer, Google Chrome, Opera) и иных
                li.solution__item.
                    Возможна доработка дополнительных модулей
                li.solution__item.
                    Кастомизация под корпоративный стиль
                li.solution__item.
                    Коробочная версия либо использование по модели
                    SaaS
    section.section.participation-assoc
        .box
            .solution__header типы торгов
            .participation-assoc__inner.participation-assoc__inner--2cell
                .participation-assoc__item
                    .participation-assoc__inner-item
                        .participation-assoc__name Аукционы
                        ul.participation-assoc__list
                            li Коммерческие продажи произведенной продукции, услуг
                            li Продажа и аренда недвижимости, земельных участков
                            li Продажа залогового имущества, конфискованного товара
                            li Продажа неликвидных товаров
                .participation-assoc__item
                    .participation-assoc__inner-item
                        .participation-assoc__name закупки
                        ul.participation-assoc__list
                            li Государственные тендерные закупочные системы
                            li Корпоративные ресурсы предприятий для проведения коммерческих закупок (сырье и материалы, товары, услуги)

    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”


    section.section.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-oportunity.png);")
        .box
            .heading.heading--small-mobile Основные возможности
            ul.solution__list
                li.solution__item.
                    Понижение либо повышение цены продажи товара
                    либо услуги с шагом, определённым оператором
                li.solution__item.
                    Многоступенчатый отбор участников и минимизация
                    рисков срыва аукционов: (аккредитация участников,
                    регистрация на торги и т.п.)
                li.solution__item.
                    Блокирование сумм задатков и продажи на счетах
                    участников
                li.solution__item.
                    Ограничение по времени на каждую ставку
                li.solution__item.
                    Использование торгового робота
                li.solution__item.
                    Публичные либо закрытые онлайн-торги
                li.solution__item.
                    Публикация результатов, ведение статистики
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества платформы
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project1.png')
                    .team-project__content
                        .team-project__item-title.
                            Экономит финансовые <br>
                            и временные ресурсы
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project2.png')
                    .team-project__content
                        .team-project__item-title.
                            Исключает фактор коррупции <br>
                            и предоставляет равные <br>
                            возможности всем участникам <br>
                            торгов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project3.png')
                    .team-project__content
                        .team-project__item-title.
                            Отслеживает процедуры <br>
                            и регламенты <br>
                            (мониторинг сделок, графики <br>
                            платежей, поставок и т.п).
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project4.png')
                    .team-project__content
                        .team-project__item-title.
                            Расширяет географию <br>
                            участников
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project5.png')
                    .team-project__content
                        .team-project__item-title.
                            Обеспечивает максимальный <br>
                            охват участников
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project6.png')
                    .team-project__content
                        .team-project__item-title.
                            Является эффективным <br>
                            инструментом маркетинга
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile Ознакомьтесь с нашими проектами
            .view-our-project__inner
                .view-our-projects__slider.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our--solution41-project1.jpg")
                        .view-our-project__data
                            .view-our-project__header Минский городской центр недвижимости
                            .view-our-project__content.
                                инструмент налогового администрирования, обеспечивающий
                                автоматизацию процесса контроля за необоснованным использованием
                                налоговых вычетов по НДС и правильным отражением налоговой
                                базы НДС в декларациях по НДС
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our--solution41-project2.jpg")
                        .view-our-project__data
                            .view-our-project__header ТД Восточный
                            .view-our-project__content.
                                Автоматизированная система управления электронным архивом,
                                с помощью которой можно вести учёт поступления документов,
                                долговременно хранить их, а также осуществлять поиск в электронном
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients.slid-clients--solution
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg)")
        .section__inner
            .box
                .heading Подходы к разработке
                .part-of-team__tittle
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы
                    li.part-of-team__item
                        .part-of-team__header.
                            Выделенные проектные команды,
                            объединяющие техническую и отраслевую
                            экспертизу
                    li.part-of-team__item
                        .part-of-team__header.
                            Использование Learn и Agile подходов
                            в работах проектных команд
                    li.part-of-team__item
                        .part-of-team__header.
                            Соблюдение сроков и договорных
                            условий
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile запросить дополнительную <br> информацию
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
