public/markup/solutions.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решения Navacom</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-solution.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">решения Novacom</h1>
          <div class="prewiews__content prewiews__content--solutions"><span>Современные бизнес-процессы требуют использование высоких технологий. <br> Наш опыт и знания охватывают многие отрасли и направления, <br> что позволяет нам предоставлять нашим клиентам актуальные программные продукты и услуги.</span></div>
        </div>
      </div>
      <main class="main">
        <section class="section">
          <div class="box">
            <div class="heading heading--small-mobile">Решения для цифровой <br> трансформации </div>
            <div class="section__content">Более чем за 10 лет работы мы развили свои навыки и экспертизу и готовы предложить своим клиентам современные высокотехнологичные решения. Наш опыт подтверждается числом успешно реализованных проектов, а также отзывами наших клиентов.</div>
          </div>
        </section>
        <div class="index-prewiews">
          <div class="index-prewiews__item">
            <div class="index-prewiews__item-inner bg-layer" style="background-image: url(../assets/index/images/index-banner1.jpg);">
              <div class="index-prewiews__inner">
                <div class="index-prewiews__header">заказная разработка <br>  информационных систем</div><a class="index-prewiews__btn btn btn--white" href="#">узнать больше</a>
              </div>
            </div>
          </div>
          <div class="index-prewiews__item">
            <div class="index-prewiews__item-inner bg-layer" style="background-image: url(../assets/index/images/index-banner2.jpg);">
              <div class="index-prewiews__inner">
                <div class="index-prewiews__header">промышленный <br> интернет вещей</div><a class="index-prewiews__btn btn btn--white" href="#"> узнать больше</a>
              </div>
            </div>
          </div>
          <div class="index-prewiews__item">
            <div class="index-prewiews__item-inner bg-layer" style="background-image: url(../assets/index/images/index-banner3.jpg);">
              <div class="index-prewiews__inner">
                <div class="index-prewiews__header">электронное <br> взаимодействие</div><a class="index-prewiews__btn btn btn--white" href="#"> узнать больше</a>
              </div>
            </div>
          </div>
          <div class="index-prewiews__item">
            <div class="index-prewiews__item-inner bg-layer" style="background-image: url(../assets/index/images/index-banner4.jpg);">
              <div class="index-prewiews__inner">
                <div class="index-prewiews__header">Электронная <br> коммерция </div><a class="index-prewiews__btn btn btn--white" href="#"> узнать больше</a>
              </div>
            </div>
          </div>
        </div>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">чем мы можем вам помочь?</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/solutions.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading решения Novacom
            .prewiews__content.prewiews__content--solutions
                span!= 'Современные бизнес-процессы требуют использование высоких технологий. <br> Наш опыт и знания охватывают многие отрасли и направления, <br> что позволяет нам предоставлять нашим клиентам актуальные программные продукты и услуги.'
block main
    section.section
        .box
            .heading.heading--small-mobile!= 'Решения для цифровой <br> трансформации '
            .section__content.
                Более чем за 10 лет работы мы развили свои навыки и экспертизу и готовы предложить своим клиентам современные высокотехнологичные решения. Наш опыт подтверждается числом успешно реализованных проектов, а также отзывами наших клиентов.
    .index-prewiews
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner1.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'заказная разработка <br>  информационных систем'
                    a(href="#").index-prewiews__btn.btn.btn--white узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner2.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'промышленный <br> интернет вещей'
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner3.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'электронное <br> взаимодействие'
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner4.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'Электронная <br> коммерция '
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
