public/markup/vacancy.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вакансии</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews bg-layer bg-cover" style="background-image: url(../assets/index/images/bg-p-vacancy.jpg);">
        <div class="breadcrumb">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Отправить резюме</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="prewiews__inner">
          <h1 class="heading">Вакансии</h1>
          <div class="prewiews__content">Мы любим то, что мы делаем!<br> Мы не просто коллеги, мы единомышленники!<br> Мы ценим каждого и всегда рады новым членам команды!<br> <strong>Присоединяйся к нам!<strong></div>
        </div>
      </div>
      <main class="main">
        <div class="form-search">
          <div class="box">
            <form class="form-search__inner form-search__inner--padding">
              <div class="form-search__item">
                <div class="def-form__group">
                  <select class="def-form__select">
                    <option value="" hidden disabled selected>Направление деятельности</option>
                    <option value="Беларусь">Направление деятельности1</option>
                    <option value="Беларусь">Направление деятельности2</option>
                    <option value="Беларусь">Направление деятельности3</option>
                    <option value="Беларусь">Направление деятельности4</option>
                    <option value="Беларусь">Направление деятельности5</option>
                  </select>
                </div>
              </div>
              <div class="form-search__item">
                <div class="def-form__group">
                  <input class="def-form__input" type="text" placeholder="Ключевое слово">
                </div>
              </div>
              <div class="form-search__item">
                <div class="def-form__group">
                  <button class="btn" type="submit" value="">Найти</button>
                </div>
              </div>
            </form>
            <div class="form-search__result">
              <div class="form-search__result-item"><span class="form-search__result-close">x</span><span>CROSS DEVICE DEPARTMENT</span></div>
            </div>
            <div class="result-search">
              <div class="result-search__heading">В списке найдено 11 подходящих вакансий</div>
              <div class="hot-vacancy hot-vacancy--white">
                <div class="hot-vacancy__item hot-vacancy__item--hot-status">
                  <div class="hot-vacancy__name">Инженер-проектировщик</div>
                  <div class="hot-vacancy__value">SPA</div>
                  <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
                </div>
                <div class="hot-vacancy__item">
                  <div class="hot-vacancy__name">Senior Project Manager</div>
                  <div class="hot-vacancy__value">Embedded Systems Department</div>
                  <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
                </div>
                <div class="hot-vacancy__item hot-vacancy__item--hot-status">
                  <div class="hot-vacancy__name">Инженер-проектировщик</div>
                  <div class="hot-vacancy__value">SPA</div>
                  <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
                </div>
                <div class="hot-vacancy__item">
                  <div class="hot-vacancy__name">Инженер-проектировщик</div>
                  <div class="hot-vacancy__value">SPA</div>
                  <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
                </div>
                <div class="hot-vacancy__item">
                  <div class="hot-vacancy__name">Senior Project Manager</div>
                  <div class="hot-vacancy__value">Embedded Systems Department</div>
                  <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
                </div>
                <div class="hot-vacancy__item hot-vacancy__item--hot-status">
                  <div class="hot-vacancy__name">Инженер-проектировщик</div>
                  <div class="hot-vacancy__value">SPA</div>
                  <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
                </div>
                <div class="hot-vacancy__item">
                  <div class="hot-vacancy__name">Инженер-проектировщик</div>
                  <div class="hot-vacancy__value">SPA</div>
                  <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">не нашли подходящую вакансию?</div>
            <div class="g-help__small-heading">Присылайте нам свою резюме, и мы свяжемся с Вами, когда появится что-то подходящее.</div>
            <div class="btn-inner"><a class="btn btn--white help-form__btn" href="#">Отправить резюме</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(src="../assets/index/js/jquery.spincrement.js")-->
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/vacancy.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Вакансии'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-p-vacancy.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading Вакансии
            .prewiews__content!= 'Мы любим то, что мы делаем!<br> Мы не просто коллеги, мы единомышленники!<br> Мы ценим каждого и всегда рады новым членам команды!<br> <strong>Присоединяйся к нам!<strong>'
block main
    .form-search
        .box
            form.form-search__inner.form-search__inner--padding
                .form-search__item
                    .def-form__group
                        select.def-form__select
                            option(value="" hidden disabled selected) Направление деятельности
                            option(value='Беларусь') Направление деятельности1
                            option(value='Беларусь') Направление деятельности2
                            option(value='Беларусь') Направление деятельности3
                            option(value='Беларусь') Направление деятельности4
                            option(value='Беларусь') Направление деятельности5
                .form-search__item
                    .def-form__group
                        input(type="text", placeholder='Ключевое слово').def-form__input
                .form-search__item
                    .def-form__group
                        button(type="submit", value='').btn Найти
            .form-search__result
                .form-search__result-item
                    span.form-search__result-close x
                    span CROSS DEVICE DEPARTMENT
            .result-search
                .result-search__heading В списке найдено 11 подходящих вакансий
                .hot-vacancy.hot-vacancy--white
                    .hot-vacancy__item.hot-vacancy__item--hot-status
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Senior Project Manager
                        .hot-vacancy__value Embedded Systems Department
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item.hot-vacancy__item--hot-status
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Senior Project Manager
                        .hot-vacancy__value Embedded Systems Department
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item.hot-vacancy__item--hot-status
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading не нашли подходящую вакансию?
            .g-help__small-heading Присылайте нам свою резюме, и мы свяжемся с Вами, когда появится что-то подходящее.
            .btn-inner
                a(href="#").btn.btn--white.help-form__btn Отправить резюме

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")
