public/markup/work.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <!--link(rel='icon', type='image/png', href='images/favicon.png')-->
    <!--link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="../assets/index/css/style.css">
  </head>
  <body class=" ">
    <div class="wrapper">
      <header class="header">
        <div class="box">
          <div class="header__inner">
            <div class="logo-inner"><a class="logo" href="#"><img src="../assets/index/images/logo_Novacom.png" width="211" height="55" alt="logo"></a><span>экомплексные <br> информационные системы</span></div>
            <div class="header__data data-hedaer"><a class="header-mail data-hedaer__item" href="mailto:info@nvcm.net">info@nvcm.net</a>
              <div class="data-hedaer__sity data-hedaer__item">Минск</div><a class="header-tel data-hedaer__item" href="tel:+375173283294">+375 17 328-32-94</a><a class="data-hedaer__lang data-hedaer__lang--active data-hedaer__item" href="#">Ru</a><a class="data-hedaer__lang data-hedaer__item" href="#">En</a>
            </div>
            <div class="header__data-m m-head-data">
              <div class="m-head-data__lang"></div>
              <div class="lang-variant">
                <div class="lang-variant__item lang-variant__item--active">русский</div>
                <div class="lang-variant__item">english</div>
              </div><a class="m-head-data__message" href="mailto:mailto:info@nvcm.net"></a>
              <div class="btn-mob">
                <div class="btn-mob__item"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav-menu">
        <div class="box">
          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">Компания</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link nav-menu__link--active" href="#">решения</a></li>
            <li class="nav-menu__item">
              <div class="nav-menu__drop-arrow"></div><a class="nav-menu__link" href="#">проекты</a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">О компании</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#"> Руководство</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link dropdown-menu__link--active" href="#">Истрия</a></li>
                <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Новости</a></li>
              </ul>
            </li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">карьера</a></li>
            <li class="nav-menu__item"><a class="nav-menu__link" href="#">контакты</a></li>
          </ul>
        </div>
        <div class="mob-clos-menu">
          <div class="mob-clos-menu__item1"></div>
          <div class="mob-clos-menu__item2"></div>
        </div>
      </nav>
      <div class="prewiews">
        <div class="breadcrumb breadcrumb--bg-gray">
          <div class="box">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Карьера</a></li>
              <li class="breadcrumb__item">
                <div class="breadcrumb__link">Работа</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main">
        <section class="section b-work" style="background-image: url(../assets/index/images/shadow__heading-work.png);">
          <div class="box">
            <div class="heading">Работа в novacom</div>
            <div class="b-work__title">
              Мы проектируем и создаем информационные системы для эффективной деятельности наших
              заказчиков в соответствии с современными трендами и технологиями. Среди специалистов компании
              программисты, инженеры и бизнес-аналитики, владеющие востребованными языками
              программирования, опытом работы с распределёнными базами данных, мобильными платформами,
              IoT и иными технологиями. C помощью современных IT-решений мы помогает трансформироваться
              государству, промышленности, ритейлу, банкам и иным индустриям.
              
            </div>
          </div>
        </section>
        <section class="section part-of-team part-of-team--p-work bg-layer bg-cover" style="background-image: url(../assets/index/images/offer-list.png);">
          <div class="section__inner">
            <div class="box">
              <div class="heading">Мы предлагаем сотрудникам</div>
              <div class="part-of-team__tittle">
                Мы рады приветствовать каждого приходящего сотрудника приятной комфортной <br>
                для работы обстановкой и дружелюбной атмосферой.
              </div>
              <ul class="part-of-team__list">
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Работу над значимыми проектами отраслевого масштаба</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Стать частью глобальной группы компаний</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Современное рабочее место в офисе класса</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Достойную оплату и социальный пакет</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Участие в корпоративных и спортивных мероприятиях</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Участие в корпоративных и спортивных мероприятиях</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Профессиональное обучение</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Курсы иностранного языка непосредственно в офисе компании</div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section hot-vacancy section--bg-red">
          <div class="box">
            <div class="heading">Гоящие вакансии</div>
            <div class="hot-vacancy">
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Инженер-проектировщик</div>
                <div class="hot-vacancy__value">SPA</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Senior Project Manager</div>
                <div class="hot-vacancy__value">Embedded Systems Department</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Инженер-проектировщик</div>
                <div class="hot-vacancy__value">SPA</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Инженер-проектировщик</div>
                <div class="hot-vacancy__value">SPA</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
              <div class="hot-vacancy__item">
                <div class="hot-vacancy__name">Инженер-проектировщик</div>
                <div class="hot-vacancy__value">SPA</div>
                <div class="hot-vacancy__btn-inner"><a class="hot-vacancy__btn" href="#">подробнее о вакансии</a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="section b-status" style="background-image: url(../assets/index/images/shadow__heading-reward.png);">
          <div class="box">
            <div class="heading">статусы и награды</div>
            <div class="b-status__inner owl-carousel">
              <div class="b-status__item">
                <div class="b-status__images"><img src="../assets/index/images/status_item1.jpg" alt="status"></div>
                <div class="b-status__info-inner">
                  <div class="b-status__text">Победитель премии «HR-брэнд» 2016</div>
                </div>
              </div>
              <div class="b-status__item">
                <div class="b-status__images"><img src="../assets/index/images/status_item2.jpg" alt="status"></div>
                <div class="b-status__info-inner">
                  <div class="b-status__text">
                    Входим в рейтинг
                    ТОП 30 резидентов
                    ПВТ с наибольшим
                    количеством
                    сотрудников (2015)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--bg-gray otziv-personal" style="background-image: url(../assets/index/images/shadow__heading-opinios.png);">
          <div class="box">
            <div class="heading">отзывы сотрудников</div>
            <div class="otziv-personal__inner owl-carousel">
              <div class="otziv-personal__item">
                <div class="otziv-personal__images"><img src="../assets/index/images/otziv_personal1.jpg" alt="avatar"></div>
                <div class="otziv-personal__data">
                  <div class="otziv-personal__text">
                    Я считаю, что здесь работают
                    одни из самых талантливых
                    людей в IT индустрии, вместе
                    с которыми я могу продолжать
                    развиваться постоянно, не
                    упираясь в «стеклянный» потолок
                  </div>
                  <div class="otziv-personal__name">Оля, HR manager</div>
                </div>
              </div>
              <div class="otziv-personal__item">
                <div class="otziv-personal__images"><img src="../assets/index/images/otziv_personal2.jpg" alt="avatar"></div>
                <div class="otziv-personal__data">
                  <div class="otziv-personal__text">
                    Одна из лучших компаний в РБ,
                    знаю что говорю т.к. было с чем
                    сравнивать. Условия труда
                    отличные, солидное руководство,
                    что только радует. Самое главное –
                    адекватные сроки решения
                    поставленных задач, т.е. уходя
                    с работы не ощущаешь себя как
                    выжатый лимон. Рекомендую!
                  </div>
                  <div class="otziv-personal__name">Егор, Sales manager</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--section.section.section--bg-gray.otziv-personal(style="background-image: url(../assets/index/images/shadow__heading-opinios.png);")-->
        <!--    .box-->
        <!--        .heading отзывы сотрудников-->
        <!--        .otziv-personal__inner-->
        <!--            .grid-->
        <!--                .grid__cell-->
        <!--                    .otziv-personal__item-->
        <!--                        .otziv-personal__images-->
        <!--                            img(src="../assets/index/images/otziv_personal1.jpg", alt="avatar")-->
        <!--                        .otziv-personal__data-->
        <!--                            .otziv-personal__text.-->
        <!--                                Я считаю, что здесь работают-->
        <!--                                одни из самых талантливых-->
        <!--                                людей в IT индустрии, вместе-->
        <!--                                с которыми я могу продолжать-->
        <!--                                развиваться постоянно, не-->
        <!--                                упираясь в «стеклянный» потолок-->
        <!--                            .otziv-personal__name Оля, HR manager-->
        <!--                .grid__cell-->
        <!--                    .otziv-personal__item-->
        <!--                        .otziv-personal__images-->
        <!--                            img(src="../assets/index/images/otziv_personal2.jpg", alt="avatar")-->
        <!--                        .otziv-personal__data-->
        <!--                            .otziv-personal__text.-->
        <!--                                Одна из лучших компаний в РБ,-->
        <!--                                знаю что говорю т.к. было с чем-->
        <!--                                сравнивать. Условия труда-->
        <!--                                отличные, солидное руководство,-->
        <!--                                что только радует. Самое главное –-->
        <!--                                адекватные сроки решения-->
        <!--                                поставленных задач, т.е. уходя-->
        <!--                                с работы не ощущаешь себя как-->
        <!--                                выжатый лимон. Рекомендую!-->
        <!--                            .otziv-personal__name Егор, Sales manager-->
        <!---->
        <section class="section part-of-team bg-layer bg-cover" style="background-image: url(../assets/index/images/part-of-team.png);">
          <div class="section__inner">
            <div class="box">
              <div class="heading">Почему <span> Novacom </span></div>
              <ul class="part-of-team__list">
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Ценность профессионализма</div>
                  <div class="part-of-team__small-header">Мы ценим своих сотрудников и открыты к диалогу 365 дней в году</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Современные технологии</div>
                  <div class="part-of-team__small-header">Создаём актуальные и востребованные рынком продуктом</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Гибкий рабочий график</div>
                  <div class="part-of-team__small-header">Мы предоставляем сотрудникам возможность самим определять начало рабочего дня</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Корпоративная культура</div>
                  <div class="part-of-team__small-header">Мы команда единомышленников и любим проводить время вместе</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Образование</div>
                  <div class="part-of-team__small-header">Мы не стоим на месте, а постоянно учимся и развиваемся</div>
                </li>
                <li class="part-of-team__item">
                  <div class="part-of-team__header">Социальные гарантии</div>
                  <div class="part-of-team__small-header">У нас есть 25 дней для организации незабываемых путешествий оплачиваемый больничный и организация витаминных акций</div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="section section--bg-red g-help" style="background-image: url(../assets/index/images/shadow__heading-help.png);">
          <div class="box">
            <div class="heading">чем мы можем вам помочь?</div>
            <div class="g-help__inner">
              <form class="help-form">
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваше имя">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Ваш телефон">
                    <div class="help-form__helper">Введите корректный телефон</div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="Наименование компании">
                    <div class="help-form__helper"></div>
                  </div>
                  <div class="help-form__group">
                    <input class="help-form__input" type="text" placeholder="E-mail">
                    <div class="help-form__helper"></div>
                  </div>
                </div>
                <div class="help-form__row">
                  <div class="help-form__group help-form__group--textarea">
                    <textarea class="help-form__textarea" placeholder="Ваше сообщение"></textarea>
                    <div class="help-form__helper"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-inner"><a class="btn help-form__btn" href="#">Отправить</a></div>
          </div>
        </section>
      </main>
      <footer class="footer ">
        <div class="box">
          <div class="footer__inner">
            <div class="footer__title">© Новаком 2007-2017</div>
            <div class="footer__data">
              <div class="footer__title">г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028</div>
              <div class="footer__social"><a class="footer__link" href="#"><img src="../assets/index/images/ico-fb.png" alt="facebook"></a><a class="footer__link" href="#"><img src="../assets/index/images/ico-linked.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
      function $buo_f(){
          var e = document.createElement("script");
          e.src = "//browser-update.org/update.min.js";
          document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="../assets/index/js/main.js"></script>
  </body>
</html>

resources/assets/index/pages/work.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Главная'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Работа

block main
    section.section.b-work(style="background-image: url(../assets/index/images/shadow__heading-work.png);")
        .box
            .heading Работа в novacom
            .b-work__title.
                Мы проектируем и создаем информационные системы для эффективной деятельности наших
                заказчиков в соответствии с современными трендами и технологиями. Среди специалистов компании
                программисты, инженеры и бизнес-аналитики, владеющие востребованными языками
                программирования, опытом работы с распределёнными базами данных, мобильными платформами,
                IoT и иными технологиями. C помощью современных IT-решений мы помогает трансформироваться
                государству, промышленности, ритейлу, банкам и иным индустриям.

    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/offer-list.png)")
        .section__inner
            .box
                .heading!= 'Мы предлагаем сотрудникам'
                .part-of-team__tittle.
                    Мы рады приветствовать каждого приходящего сотрудника приятной комфортной <br>
                    для работы обстановкой и дружелюбной атмосферой.
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Работу над значимыми проектами отраслевого масштаба
                    li.part-of-team__item
                        .part-of-team__header Стать частью глобальной группы компаний
                    li.part-of-team__item
                        .part-of-team__header Современное рабочее место в офисе класса
                    li.part-of-team__item
                        .part-of-team__header Достойную оплату и социальный пакет
                    li.part-of-team__item
                        .part-of-team__header Участие в корпоративных и спортивных мероприятиях
                    li.part-of-team__item
                        .part-of-team__header Участие в корпоративных и спортивных мероприятиях
                    li.part-of-team__item
                        .part-of-team__header Профессиональное обучение
                    li.part-of-team__item
                        .part-of-team__header Курсы иностранного языка непосредственно в офисе компании

    section.section.hot-vacancy.section--bg-red
            .box
                .heading Гоящие вакансии
                .hot-vacancy
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Senior Project Manager
                        .hot-vacancy__value Embedded Systems Department
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии

    section.section.b-status(style="background-image: url(../assets/index/images/shadow__heading-reward.png);")
            .box
                .heading статусы и награды
                .b-status__inner.owl-carousel
                    .b-status__item
                        .b-status__images
                            img(src="../assets/index/images/status_item1.jpg", alt="status")
                        .b-status__info-inner
                            .b-status__text Победитель премии «HR-брэнд» 2016
                    .b-status__item
                        .b-status__images
                            img(src="../assets/index/images/status_item2.jpg", alt="status")
                        .b-status__info-inner
                            .b-status__text.
                                Входим в рейтинг
                                ТОП 30 резидентов
                                ПВТ с наибольшим
                                количеством
                                сотрудников (2015)
    section.section.section--bg-gray.otziv-personal(style="background-image: url(../assets/index/images/shadow__heading-opinios.png);")
        .box
            .heading отзывы сотрудников
            .otziv-personal__inner.owl-carousel
                .otziv-personal__item
                    .otziv-personal__images
                        img(src="../assets/index/images/otziv_personal1.jpg", alt="avatar")
                    .otziv-personal__data
                        .otziv-personal__text.
                            Я считаю, что здесь работают
                            одни из самых талантливых
                            людей в IT индустрии, вместе
                            с которыми я могу продолжать
                            развиваться постоянно, не
                            упираясь в «стеклянный» потолок
                        .otziv-personal__name Оля, HR manager
                .otziv-personal__item
                    .otziv-personal__images
                        img(src="../assets/index/images/otziv_personal2.jpg", alt="avatar")
                    .otziv-personal__data
                        .otziv-personal__text.
                            Одна из лучших компаний в РБ,
                            знаю что говорю т.к. было с чем
                            сравнивать. Условия труда
                            отличные, солидное руководство,
                            что только радует. Самое главное –
                            адекватные сроки решения
                            поставленных задач, т.е. уходя
                            с работы не ощущаешь себя как
                            выжатый лимон. Рекомендую!
                        .otziv-personal__name Егор, Sales manager
    //section.section.section--bg-gray.otziv-personal(style="background-image: url(../assets/index/images/shadow__heading-opinios.png);")
    //    .box
    //        .heading отзывы сотрудников
    //        .otziv-personal__inner
    //            .grid
    //                .grid__cell
    //                    .otziv-personal__item
    //                        .otziv-personal__images
    //                            img(src="../assets/index/images/otziv_personal1.jpg", alt="avatar")
    //                        .otziv-personal__data
    //                            .otziv-personal__text.
    //                                Я считаю, что здесь работают
    //                                одни из самых талантливых
    //                                людей в IT индустрии, вместе
    //                                с которыми я могу продолжать
    //                                развиваться постоянно, не
    //                                упираясь в «стеклянный» потолок
    //                            .otziv-personal__name Оля, HR manager
    //                .grid__cell
    //                    .otziv-personal__item
    //                        .otziv-personal__images
    //                            img(src="../assets/index/images/otziv_personal2.jpg", alt="avatar")
    //                        .otziv-personal__data
    //                            .otziv-personal__text.
    //                                Одна из лучших компаний в РБ,
    //                                знаю что говорю т.к. было с чем
    //                                сравнивать. Условия труда
    //                                отличные, солидное руководство,
    //                                что только радует. Самое главное –
    //                                адекватные сроки решения
    //                                поставленных задач, т.е. уходя
    //                                с работы не ощущаешь себя как
    //                                выжатый лимон. Рекомендую!
    //                            .otziv-personal__name Егор, Sales manager
    //

    section.section.part-of-team.bg-layer.bg-cover(style="background-image: url(../assets/index/images/part-of-team.png)")
        .section__inner
            .box
                .heading!= 'Почему <span> Novacom </span>'
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Ценность профессионализма
                        .part-of-team__small-header Мы ценим своих сотрудников и открыты к диалогу 365 дней в году
                    li.part-of-team__item
                        .part-of-team__header Современные технологии
                        .part-of-team__small-header Создаём актуальные и востребованные рынком продуктом
                    li.part-of-team__item
                        .part-of-team__header Гибкий рабочий график
                        .part-of-team__small-header Мы предоставляем сотрудникам возможность самим определять начало рабочего дня
                    li.part-of-team__item
                        .part-of-team__header Корпоративная культура
                        .part-of-team__small-header Мы команда единомышленников и любим проводить время вместе
                    li.part-of-team__item
                        .part-of-team__header Образование
                        .part-of-team__small-header Мы не стоим на месте, а постоянно учимся и развиваемся
                    li.part-of-team__item
                        .part-of-team__header Социальные гарантии
                        .part-of-team__small-header У нас есть 25 дней для организации незабываемых путешествий оплачиваемый больничный и организация витаминных акций
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
            .box
                .heading чем мы можем вам помочь?
                .g-help__inner
                    form.help-form
                        .help-form__row
                            .help-form__group
                                input(type="text", placeholder='Ваше имя').help-form__input
                                .help-form__helper
                            .help-form__group
                                input(type="text", placeholder='Ваш телефон').help-form__input
                                .help-form__helper Введите корректный телефон
                        .help-form__row
                            .help-form__group
                                input(type="text", placeholder='Наименование компании').help-form__input
                                .help-form__helper
                            .help-form__group
                                input(type="text", placeholder='E-mail').help-form__input
                                .help-form__helper
                        .help-form__row
                            .help-form__group.help-form__group--textarea
                                textarea(placeholder='Ваше сообщение').help-form__textarea
                                .help-form__helper
                .btn-inner
                    a(href="#").btn.help-form__btn Отправить

block scripts
